[2018-02-08 14:10] radmen opened #1 "Dockerfile cleanups do not minimize image size"
Hey,

first of all - thank you for this repo. You helped me in solving quite an annoying issue.
Thank you!

Secondly, I've found in Dockerfile quite intriguing lines:
https://github.com/Zenika/alpine-chrome/blob/2d0b861ca4a2a3c964d4db83e77d27d7e947ba41/Dockerfile#L22-L31

Just wanted to mention that this will not minimize image size.

Each command creates a layer. Each layer adds a size of **appen

[2018-02-09 16:10] jlandure commented on #1
Hi @radmen
👋 Thanks for your reply!
👉 You're totally right! I will change that.

[2018-02-12 09:28] #1 closed

[2018-02-14 15:28] jlandure opened #2 "Add and explain the `no-sandbox` value."
inspiration from https://hub.docker.com/r/justinribeiro/chrome-headless/

[2018-02-14 15:30] #2 closed

[2018-03-12 08:29] jlandure opened #3 "Permissions on mounted files"
_From an email_

**How to read the image generated after the screenshot?**
The image is created into the mapped directory (to the volume) but the owner of the image is 1001 (root outside the container?):
`-rw------- 1 1001 1001 2454 mar  8 16:48 screenshot.png`

So I can't open the image until I've changed the permissions.

**Any idea how to solve it?**

[2018-03-13 21:14] jllado commented on #3
Finally I've fixed it with the -u parameter:
docker container run -u `id -u $USER` --rm -v $(pwd):/usr/src/app zenika/alpine-chrome --no-sandbox --disable-gpu --screenshot --hide-scrollbars --window-size=386,250 http://www.google.co

[2018-03-13 21:44] jlandure commented on #3
I let the issue opened to make a PR on the `README.md`

[2018-04-21 20:43] jlandure commented on #3
Fixes by #4

[2018-04-21 20:43] #3 closed

[2018-06-17 13:09] harobed opened #6 "« Lost UI shared context » error"
On OSX, I have this errors:

[code]

[2018-06-17 13:35] harobed opened #7 "How can I remove page number when I use --print-to-pdf?"
How can I remove page number when I use --print-to-pdf?

[2018-06-17 14:03] jlandure opened #8 "Test a new `no-sandbox` way with Docker"
From the lighthouse image:

https://github.com/ebidel/lighthouse-ci/blob/master/builder/Dockerfile#L35-L40

[2018-06-17 14:38] jlandure commented on #6
I can reproduce and got the same error:
[code]
Is these errors are really errors for your needs @harobed ?

1. First try
I've tried with this Dockerfile to validate the 2 missing libs: `libGLESv2` & `libEGL`
(`mesa-egl` & `mesa-gles` in the alpine world)
[code]

But I got the same kind of errors :
[code]

2. Disabling "software-rasterizer"
Using the flag `--disable-software-rasterizer`, we no long

[2018-06-17 21:36] jlandure opened #9 "Test the '--disable-dev-shm-usage' flag"
Discussion from https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#tips

[2018-06-17 22:13] jlandure commented on #7
Humm there is multiple ways to achieve that:

1. With CSS
https://stackoverflow.com/questions/46077392/additional-options-in-chrome-headless-print-to-pdf

2. With DevTools protocol

https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF
There is projects to easily test that:
- https://pptr.dev/#?product=Puppeteer&version=v1.5.0&show=api-pagepdfoptions
- https://www.npmjs.co

[2018-06-17 22:26] jlandure opened #10 "Have a look on "dumb-init" to kill the process"
Like on this image: https://github.com/ebidel/try-puppeteer

[2018-07-29 12:00] HackPoint opened #11 "Unable to run it in Jenkins"
Error response from daemon: Container is not running

[2018-07-30 15:20] jlandure commented on #11
Hi @HackPoint
Thanks for your feedback. 👌
Can you describe the `docker command` you're launching?
There is 3 ways to use Chrome Headless with this image
- Not secured
- With SYS_ADMIN capability
- The best: With seccomp

[2018-08-07 10:05] HenryQW commented on #6
Same error as @jlandure

[2018-08-07 12:56] jlandure commented on #11
Hi @HackPoint
Any news to improve this image and help you with your jenkins problem?

[2018-08-07 13:01] jlandure commented on #6
Hi @HenryQW 👋
Sounds like more a warning than an error...
Like described about the "Lost UI shared context." error [here](https://github.com/GoogleChrome/puppeteer/issues/1547#issuecomment-350674484)

[2018-08-14 13:45] jlandure opened #12 "Add a lighthouse version and example"

[2018-08-14 13:49] jlandure commented on #7
Hi @harobed did you solve your problems with page numbers?

[2018-08-14 13:51] jlandure commented on #6
Hi @harobed do you still have these errors?

[2018-09-02 13:51] jlandure commented on #11
Hi @HackPoint
Last call, I will close the issue in 3 days if you do not give any news...

[2018-09-02 13:52] jlandure commented on #7
Hi @harobed
Last call, I will close the issue in 3 days if you do not give any news...

[2018-09-02 13:52] jlandure commented on #6
Hi @harobed @HenryQW
Last call, I will close the issue in 3 days if you do not give any news...

[2018-09-16 19:25] jlandure opened #13 "Follow the official docs to build the docker image"
[Docs from puppeeter](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker)

[2018-09-16 19:47] #13 closed

[2018-09-16 19:47] #6 closed

[2018-09-16 19:47] #7 closed

[2018-09-16 19:48] #11 closed

[2018-09-16 20:00] #9 closed

[2018-09-17 10:25] labs-scnm opened #14 "npm not found"
Hi,

`npm` has not been found since the last update.

BR
Sebastian

[2018-09-17 10:35] labs-scnm commented on #14
Sorry, my mistake. You separate the images and moved it to the tag `with-node`.

[2018-09-17 10:35] #14 closed

[2018-09-17 10:37] labs-scnm commented on #14
BTW: Thanks a lot for your great work! 🤗

[2018-09-17 12:30] jlandure commented on #14
You're welcome @labs-scnm ! 👌

I've moved `node` (and `npm` `yarn`) in the ":with-node" version to reduce the size of the standard `alpine-chrome`
_We moved from ~200Mb to ~100Mb for the "standard" image._
_The one with `node` stay around ~185Mb._
_Details [here](https://hub.docker.com/r/zenika/alpine-chrome/tags/)_

Feel free to report desired enhancement or any issue using this image.

[2018-09-17 14:55] nickreynke commented on #6
I'm running into the same problem on OSX running `docker container run -it --rm zenika/alpine-chrome:with-node --no-sandbox`.

[2018-09-17 15:57] jlandure commented on #6
Hi @nickreynke and welcome 👋
Like explained [here](https://github.com/GoogleChrome/puppeteer/issues/1547#issuecomment-350674484), this is more a warning than an error. Your app should work seamlessly.
Do you have any problems?
Perhaps I can add a "Troubleshooting" section on the README? 🤔

[2018-09-21 11:31] c24w opened #15 "chromium-browser segfaults :("
I can't get either of the latest `zenika/alpine-chrome` or `zenika/alpine-chrome:with-node` images to successfully launch a browser.  If I expand one of the readme examples, this is what happens:

[code]

The only way I've got that example to work is by using the image tagged `zenika/alpine-chrome:13`.

Do you know what's going on?

[2018-09-23 12:52] jlandure commented on #15
Hi @c24w 👋
First, thanks for your report.

I tried your command and I do not get `Segmentation fault` using the latest `zenika/alpine-chrome`...
Can you add more information using `--log-level=0` like in this command:
[code]
I got these logs before the dom:
[code]

[2018-09-25 09:50] c24w commented on #15
Hi @jlandure!  Thanks for your reply.

I haven't got to the bottom of this yet, but just to update:

 - I'm running Arch Linux and it works when I do the same commands on Ubuntu (using the same version of Docker).
 - `--log-level=0` doesn't yield any extra information. :disappointed:
 - I get the same segfault if I build the [`Dockerfile`](https://github.com/Zenika/alpine-chrome/blob/94cee53b5e66c

[2018-09-25 11:06] jlandure commented on #15
Hi @c24w
Sorry, I've to admit: I didn't test this image on Arch 😅

Do you get "chromium" working on your Arch installation? Is it a `x86-64 Linux` or a `ARM` architecture?
Do you think it's related to this Arch [bug](https://bugs.archlinux.org/task/58269)?

[2018-09-25 11:56] c24w commented on #15
I can't blame you :grin:

I've just installed a fresh version of Chromium 69.0.3497.100 Arch Linux, from the official repositories, and it works fine.  I'll not sure what version is installed in the `latest` of your images, so I'll check that next.

It's using `x86_64 GNU/Linux`.

That bug seems to relate to a `~/.config/chromium-flags.conf` file, which isn't present in your images :thinking:.

I'

[2018-09-25 11:59] jlandure commented on #15
Using `apk` I can only get the version described [here](https://git.alpinelinux.org/cgit/aports/log/community/chromium)
The latest chromium available for the `alpine` distribution is `68.0.3440.106`

[2018-10-29 14:44] dzek69 opened #16 "Publish image for arm"
Hi, it would be awesome if you could publish images for ARM for running on Raspberry devices.

[2018-10-30 22:01] jlandure commented on #16
Hi @dzek69 👋
I'm happy to help.

Could you give more details about your request?

According to the [official docs on Docker](https://github.com/docker-library/official-images#architectures-other-than-amd64), there is an dedicated subgroup on DockerHub for `arm32v7` here: https://hub.docker.com/u/arm32v7/
Just to be sure, do you want this kind of Docker image?

[2018-10-31 08:49] dzek69 commented on #16
Yeah.
You can make multiarch images (but I never did one), no need for special groups. I can for example run bare alpine just fine from the same source on standard PC and Raspberry.

What is probably a problem is that you will probably need an CPU on that architecture to create such image.

[2018-11-09 08:10] jokester opened #17 "propose: add tini to reape (possible) zombie process"
When building a [pptraas.com](https://github.com/GoogleChromeLabs/pptraas.com)-like service, I had to write this in Dockerfile (and they add to layers 😞):

[code]

I am guessing the need to reape zombie process is common, can we add `tini` (or `dumb-init` or alike) to base image?

[2018-11-12 11:48] OscarSotoSanchez opened #18 "Bug image with-puppeter"
Hi, you have a bug in the docker image with-puppeter, if you don't add a path "/usr/src/app" in the command "npm install", you will recived a error message in the execution.

 module.js:549
    throw err;
    ^

Error: Cannot find module 'puppeteer'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)

[2018-12-28 07:41] alexandru-calinoiu opened #19 "Getting symbol not found error"
Building the image on archlinux and running

[code]

Will result in:

[code]

[2019-01-17 11:14] jlandure commented on #17
Hi @jokester 👋
I'm ok with your suggestion. I already create an issue for that #10  👌

[2019-01-17 11:16] jlandure commented on #18
Hi @OscarSotoSanchez 👋
Thanks for your report!

I will have a look but normally the workdir is already set in the Dockerfile.
`WORKDIR /usr/src/app`

Can you describe your docker container launch command? Thanks! 👍

[2019-01-17 15:43] #19 closed

[2019-01-17 15:44] jlandure commented on #19
Hi @alexandru-calinoiu Hi @utvk 👋
I've added harfbuzz like suggested. Hope this helps!
Thanks by the way for you report! Have a nice DX with this docker image 👍

[2019-01-18 09:07] jlandure opened #20 "Add Autotest to test the alpine-chrome image behavior"
Have a look to https://docs.docker.com/docker-hub/builds/automated-testing/

[2019-01-20 13:01] jlandure commented on #17
Hi @jokester 👋
Just to be sure to reproduce the problem, can you explain the way you use this image?
Thansk! 👍

[2019-01-20 13:05] jlandure commented on #16
Hi @dzek69 👋
I will try to investigate using ARM CPU on AWS.
https://aws.amazon.com/fr/blogs/aws/new-ec2-instances-a1-powered-by-arm-based-aws-graviton-processors/

[2019-01-20 13:15] dzek69 commented on #16
Ok, thank you.

I'm waiting for the results then. Good luck 😄

[2019-03-21 16:15] #10 closed

[2019-03-21 16:16] #17 closed

[2019-03-21 16:20] #18 closed

[2019-03-21 18:18] DJFliX opened #21 "Existing docker images based on alpine-chrome:with-puppeteer are now broken"
Since this [commit](https://github.com/Zenika/alpine-chrome/commit/05af669e674498ffc48f9223b8c286a6db74ed7e) my build pipeline is broken.

My docker image did this in the final step:
`CMD ["node", "run"]`

And it seems that having `tini` set as the entrypoint breaks this behaviour.

Of course I can fix this in my `Dockerfile` but this won't fix old revisions of images that are based off of `alpine

[2019-03-21 19:58] jlandure commented on #21
Hi @DJFliX 👋
Thanks for your feedback. 👍
Honestly, I didn't know that adding `tini` in the entrypoint could affect another `CMD`. 😓

Can you try launching your Docker image running `docker container run -it [your params] --entrypoint "" zenika/alpine-chrome:with-puppeteer` to check it's always working? 👌

And I'm curious. What does the `CMD ["node", "run"]`? 🤔

[2019-03-21 20:08] jlandure commented on #15
Hi @c24w 👋
Do you still have `Segmentation fault` issue with or can I close this issue? 👍
Thanks for your reply!

[2019-03-21 20:21] jlandure commented on #21
Hey @DJFliX

I was reading your comment: you didn't need to fix older versions of your images. You're safe if they are already built. I know the current `tini` commit breaks existing behaviour but older ones are safe. Do you agree with that?

Anyway, can we have a closer look to your problem? 😊

[2019-03-21 21:07] DJFliX commented on #21
Hi @jlandure! Thanks for responding so quickly! So I was (ab)using your container because it contains all the dependencies (including a version of puppeteer matching the version of chromium installed). But I had some quirks out of the box so I decided to add a CMD to my Dockerfile after adding my sources to fix the issue.

So `CMD ["node", "run"]` runs my `run.js` with node. Because of the new ENT

[2019-03-21 21:19] jlandure commented on #21
Thanks for your reply @DJFliX 👍
FYI, I've tried an equivalent of your `CMD` instruction and have no problem 🤔
Example:
[code]
Dockerfile:
[code]
Build command: `docker build -t zenika/example .`
Launch command: `docker container run -it --rm -v $(pwd)/src:/usr/src/app/src --cap-add=SYS_ADMIN zenika/example`

Can you help me describing your error? logs perhaps? 👌

[2019-03-22 08:51] jlandure commented on #18
For you information @OscarSotoSanchez, I've set the `WORKDIR` instruction at the beginning of the `Dockerfile`.

[2019-03-22 09:59] c24w commented on #15
Just tried again against latest and it seems to work fine, so issue resolved from my perspective :)

[2019-03-22 09:59] #15 closed

[2019-03-22 11:07] jlandure commented on #15
Thanks @c24w ! 🎉

[2019-03-23 19:36] mamacdon opened #22 "`apk update` fails"
I'm extending the Chrome v72 image. This is my Dockerfile:
[code]
When I build it, the apk command fails.
[code]

[2019-03-23 20:10] jlandure commented on #22
Hi @mamacdon ! 👋

Thanks for reporting the issue. I don't why.
I've got the same error with your `Dockerfile` example. 👌

[Here](https://stackoverflow.com/questions/48736212/bad-file-descriptor-error-during-apk-update-in-docker-container-why) is a good pointer for the issue. You can bypass this error by adding:
[code]

Do not know exactly why but I will investigate. 🤔

[2019-03-23 20:17] jlandure commented on #22
To make it more reliable, I will change these lines in the `Dockerfile` used to create the `alpine-chrome`.

[code]
I don't have any problems adding the creation of the `/var/cache/apk` folder.

Are you ok with that @mamacdon ? 👍

[2019-03-23 20:20] #22 closed

[2019-03-23 20:34] jlandure commented on #21
Hi @DJFliX
Do you any updates to share?
Thanks! 👍

[2019-04-08 17:15] gitaaron commented on #7
I would recommend the second method you mentioned since the css method does not seem to work with many pages.

[2019-04-08 19:17] horacimacias opened #23 "unable to run with-puppeteer example"
thanks for the work; the image looks like exactly what I need.
However I'm having trouble executing the with-puppeteer example:

I'm running in on docker for OSX, in case that matters.

I also tried building a modified image (basically commenting out the ENTRYPOINT with tini) and then I get this error instead:

Any clues on how can I troubleshoot or fix this?

[2019-04-11 16:05] URSTYLE commented on #23
Define own entrypoint, e.g.:
[code]

[2019-04-19 21:39] jlandure commented on #23
Hi @horacimacias 👋 and thanks for the feedback
Hi @URSTYLE 👋 and thanks for the workaround. Is it working as expected @horacimacias ?

💭 Do you think it is interesting to add the flag `--remote-debugging-port=9222` by default in the javascript file `pdf.js`?

**IMPORTANT**: As already described in the [README](https://github.com/Zenika/alpine-chrome#not-secured), be careful with the use of `--no-s

[2019-04-19 21:40] jlandure commented on #21
Hi @DJFliX 👋
Last call for any updates to share? Thanks!

[2019-04-22 08:07] DJFliX commented on #21
Hi Julien,

I’m very sorry but I haven’t had time to look into it further. For me the workaround seems to be working okay so imo we can close the issue.

Kind regards,

Felix

[2019-04-22 08:07] #21 closed

[2019-04-26 13:05] emilkjer opened #24 "\"tini\": executable file not found in $PATH"
After adding `ENTRYPOINT ["tini", "--"]` it breaks the Puppeteer Docker image.

Reference commit:
https://github.com/Zenika/alpine-chrome/commit/7b4f2b3b527b3245a4a8ad893f0f4beb2bbf12b2#diff-c29f529b3e98482e07a5768ff85c139dR9

Reproduce by:
[code]

[2019-04-28 16:16] jlandure commented on #23
Hi @horacimacias and @URSTYLE  👋
Any news on this issue?

[2019-04-28 17:08] jlandure commented on #24
Hi @emilkjer 👋
Thanks for your feedback!
Can you check this issue #21 ? I have no problem using the command you gave:
[code]

For your information, you can always override the `ENTRYPOINT` using `docker container run -it [your params] --entrypoint "" zenika/alpine-chrome ...`

[2019-04-29 07:46] horacimacias commented on #23
sorry @jlandure; I was able to define my own entry point, and yes this works for me now. Thanks.

In my case I was trying to run the _How to use with Puppeteer_ example:

which still fails with the same _tini_ error.
I'd suggest either the readme is updated or the image is updates so the samples provided on the readme work as they are described.

Regarding _remote-debugging-port_ yes I think is a

[2019-04-30 20:48] emilkjer commented on #24
Hi @jlandure

Thanks for the quick response!

This is very odd, because when I build the image now everything goes fine. Could it be a faulty image on DockerHub that got fixed after you bumped the versions?

Your project is used with [React Snap](https://github.com/stereobooster/react-snap) and run by the Gitlab CI. It's the Gitlab runner which wasn't too happy about tini... I'm baffled, it works

[2019-04-30 20:48] #24 closed

[2019-05-02 20:01] jlandure commented on #24
Thanks @emilkjer for closing the issue. And sorry for this "weird" temporary problem.

And good to know you're using this image in [React Snap](https://github.com/stereobooster/react-snap). Perhaps I could add a "Used by" section in the README with some logos. What do you think?

[2019-05-02 20:35] jlandure commented on #23
Hi @horacimacias 👋
Thanks again for your feedback and your time.

I've updated the example in the `with-puppeteer` folder. I don't have any errors.

Feel free to retry 👌 and if you still have an issue, please share the logs of the error. 👍

[2019-05-07 08:31] horacimacias commented on #23
thanks @jlandure. It works for me now (if anybody else is having trouble make sure you _docker pull_ the image as in my case I was using an outdated)

Now the example as the README.md describes works fine for me.

[2019-05-07 08:31] #23 closed

[2019-05-11 16:02] dmitryr117 opened #26 "Docker-compose"
Hi There. I am trying to set it up to use with docker-compose. However when I try to activate it the container keeps restarting and the terminal gives me:

[0511/154746.370034:WARNING:dns_config_service_posix.cc(335)] Failed to read DnsConfig.
docker-compose is as follows:

version: '3'
services:
  testservice
    build: ./installer
    container_name: testservice
    restart: always
    ports:

[2019-05-13 07:29] jlandure commented on #26
Hi @dmitryr117 👋
Thanks for the feedback and opening an issue.

I didn't have a direct answer for your problem but I can investigate to help you.
Can you please add some details on the `docker-compose` ?

For your information, the log `Failed to read DnsConfig` is a warning from Chromium. Do you have a `ERROR` or `FATAL` in your logs?
You can print more logs using the command described here `--log

[2019-05-17 12:24] jlandure commented on #26
Hi @dmitryr117
Any news on your issue?

[2019-05-22 21:51] jlandure commented on #26
Hi @dmitryr117 👋
Do you have any news to understand your issue?
Without any news, I will close the issue next week...

[2019-05-29 20:52] likwid commented on #26
I am also having this problem, and I am willing to provide you with whatever details you need.

I removed docker-compose from the equation, and I receive this error just doing plain docker run.

`docker run -it --security-opt seccomp=$(pwd)/chrome.json zenika/alpine-chrome:73` exits immediately with return code of 0, and the only thing that shows up in the logs is `[0529/204426.581579:WARNING:dns_

[2019-05-30 22:10] jlandure commented on #26
Hi @likwid 👋
Thanks for your feedbacks!

For your information, the log `Failed to read DnsConfig` is a **warning** from Chromium (not an error or a fatal problem). 👍

I don't really understand the expected behavior you're waiting for. 😅

I explained myself:
- you launch your container: `docker run -it --entrypoint sh zenika/alpine-chrome:73`
- you launch Chromium without action or website to visit

[2019-05-30 23:19] likwid commented on #26
My bad 🥇

What I thought would happen is that chrome would just continue to run in the foreground, but be accessible over a port. I see now in the documentation, that you are passing a URL.

Sorry, not sure how I missed that the first time.

![I can show myself the door](https://media.giphy.com/media/4pMX5rJ4PYAEM/giphy.gif "I can show myself the door")

[2019-06-02 02:00] lygstate opened #28 "How to enable webgl support?"
Currently, there is no webgl support.( Softversion)

[2019-06-03 09:48] jlandure commented on #28
Hi @lygstate 👋

Thanks for your feedback.
I'm interested to help you.

Can you describe a usecase with some code and the error you get?

Is it something like describe on this image [here](https://github.com/adieuadieu/serverless-chrome/issues/108)?

[2019-06-03 09:51] jlandure commented on #26
Hi @likwid 👋

No problem.
Do you think I need to explain more precisely how it works in the `README`? 🤔
Can you describe the usecase you want to run with this image? perhaps to help others?

Thank you. BTW, lol for your homer gif 👍

[2019-06-04 00:36] lygstate commented on #28
I found that  only need pack swiftshader libegl and libglesv2

[2019-06-04 11:13] jlandure commented on #28
Hi @lygstate
Thanks for the update. 👍
Do you think it could be useful for the community to get a `zenika/alpine-chrome:with-webgl` adding the missing packages ? Can you share a tiny example that works well?
Thanks for your contribution 🙌

[2019-06-06 06:30] lygstate commented on #28
@jlandure  Need pacth the upstrem chromium packages:)
https://git.alpinelinux.org/aports/tree/community/chromium

But don't know where to start, patch file added
[code]

[2019-06-17 15:01] maxcct commented on #28
I've also come here looking for the same thing! A `zenika/alpine-chrome:with-webgl` would be perfect and very much appreciated.

[2019-06-19 11:44] jlandure commented on #28
Hi @maxcct @lygstate 👋
I've tried several things today to add `webgl` support to the headless chrome.
Here is the PullRequest #29

**But It's not working...**
I would like to get these outputs

`chromium-browser --headless --disable-dev-shm-usage --no-sandbox --screenshot --hide-scrollbars https://webglfundamentals.org/webgl/webgl-fundamentals.html`

Got

![webgl-fundamentals](https://user-images.

[2019-06-19 12:55] jlandure commented on #12
Have a look to https://github.com/GoogleChrome/lighthouse/blob/master/docs/puppeteer.md

[2019-06-20 01:16] lygstate commented on #28
@jlandure you need recompile chrome, use mesa gles not working, I've tried.

[2019-06-25 21:54] SuddenGunter opened #30 "Error on container launch: Failed to move to new namespace"
I've tried to use it in my docker image based on zenika/alpine-chrome.
see dockerfile here: https://github.com/SuddenGunter/pandaren/tree/master/cmd

It didn't work for me, so I just try tried to do docker run zenika/alpine-chrome - same error.

Error message (happens in both cases)

[code]

Environment:
macOS 10.14.5
docker v2.0.0.3 (31259), engine: 18.09.2

[2019-06-25 22:49] SuddenGunter commented on #30
I've just ended up using bare alpine and installed chromium + dependencies + dumb init

[2019-06-25 22:49] #30 closed

[2019-07-09 18:26] jlandure commented on #30
Hi @SuddenGunter 👋

Sorry for the delay... And thanks for the report.

Your error is here because you cannot execute the `alpine-chrome` without security.
The different usecases are explained [here](https://github.com/Zenika/alpine-chrome#3-ways-to-use-chrome-headless-with-this-image).

You can test the image using the following command:

[code]

This command does nothing: only launch Chrome and q

[2019-07-09 18:27] jlandure commented on #28
Hi @lygstate 😊

Sorry for the delay.
I didn't achieve with success to recompile Chrome for the webgl support. 😣
Can you help me giving me the commands to recompile Chromium? 😇
Thanks!

[2019-08-01 13:09] jlandure commented on #26
Hi @likwid 👋

Without any news from you, I will close this issue next week.

[2019-08-13 08:27] aman4387 commented on #30
after runnig image with --no-sandbox getting below error

ERROR:gpu_channel_manager.cc(398)] ContextResult::kFatalFailure: Failed to create shared context for virtualization.

[2019-08-13 14:45] jlandure commented on #30
Hi @aman4387 👋

Can you please indicate me the version of the image `zenika/alpine-chrome` you are using? I have no such problem.

**Step 1**
Checkout latest version
[code]

**Step 2**
Check version of the image
[code]

**Step 3**
Launch with no version
[code]

[2019-08-14 16:48] jlandure opened #31 "Add new issue templates"
Like this: https://github.com/nock/nock/tree/beta/.github/ISSUE_TEMPLATE

[2019-08-15 10:41] jlandure opened #32 "Push automatically to gcr.io"
Very useful to use with the Google Cloud Platform.
Reuse the hook from [here](https://github.com/Zenika/alpine-firestore-backup/blob/master/hooks/post_push)

[2019-08-26 21:17] #31 closed

[2019-08-26 21:17] #26 closed

[2019-09-08 10:02] robertsupport opened #33 "Failed to move to new namespace: PID namespaces supported, Network namespace supported, but failed: errno = Operation not permitted"
**Please tell me what I'm doing wrong?**

[code]

**When adding --no-sandbox  - other errors appear**

[code]

help me please!

[2019-09-08 17:41] gecube commented on #33
The same

[2019-09-08 19:20] jlandure commented on #33
Hi @robertsupport @gecube 👋

Thanks for the report 👍

I've tried these different command lines and it's working as expected:
* ✅  `docker run -it --rm --entrypoint "" zenika/alpine-chrome cat /etc/alpine-release
`
* ✅  `docker run -it --rm --entrypoint "" zenika/alpine-chrome chromium-browser --version
`
* ✅  ```docker container run -u`id -u $USER` -it --rm -v $(pwd):/usr/src/app zenika/alpine-chr

[2019-09-08 19:36] jlandure commented on #33
For your information, you can also read this [troubleshooting section on Puppeteer](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#setting-up-chrome-linux-sandbox) if you're using a sandbox Chrome.

[2019-09-08 19:36] jlandure commented on #8
Read also this: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#alternative-setup-setuid-sandbox

[2019-09-09 19:44] jlandure commented on #33
Hi @robertsupport 👋
Any news for your problem? Did you get the expected result? 👍

[2019-09-10 09:07] gecube commented on #33
@jlandure Thanks. The new instructions are much more clear and I managed to get the capture of the website :-)

[2019-09-10 09:27] jlandure commented on #33
Hey @gecube Thanks for your feedback! 👌

[2019-09-11 09:48] tenzinleshy commented on #33
docker container run -d -p 9222:9222 zenika/alpine-chrome --no-sandbox --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 https://www.chromestatus.com/

Container up with this command =)

[2019-09-16 14:32] wheestermans31 opened #34 "Use image for PDF generation"
**Context**

One of our projects has created some debian image with node+chrome installed to be able to create PDFs.

But our standard for now of base images is alpine. Is you alpine-chrome image capable to do? I did a lot of reading about chrome and alpine, and came quickly to chromium installation. But the guy told me that chromium can't be used for the PDF generation, he needs the real chrome.

[2019-09-16 15:41] jlandure commented on #34
Hi @wheestermans31 👋
Thanks for your question 💭

With this image, you can for the moment:
* Print a pdf directly from Chromium like explained [here](https://github.com/Zenika/alpine-chrome#print-a-pdf)
* Print a pdf using [Puppeteer](https://github.com/GoogleChrome/puppeteer) like explained [here](https://github.com/Zenika/alpine-chrome#how-to-use-with-puppeteer)

Have you tried one of these comma

[2019-09-20 08:56] sibijohn72 commented on #34
@wheestermans31 I am personally using chromium specifically for PDF conversion and it works. [Though not with this image at the moment but thats what i am trying to do now.] It doesnt matter whether you use chrome or chromium.

[2019-09-20 14:12] hodossy opened #36 "Chrome fails at startup with Jenkins agent"
**Describe the bug**
I have a Jenkins with Kubernetes, and I would like to run a headless Chrome for unittesting (using Karma). I extended a Jenkins Agent image with `alpine-chrome:with-node` and use that in my agent pods. However karma is not able to start Chrome:
[code]

**To Reproduce**
Use this image:
[code]

**What is the expected behavior?**
Karma able to start Chrome.

**Logs**
[code]

**Ve

[2019-09-24 05:17] hodossy commented on #36
I got it working without this image. I installed all dependencies of `chromium` listed [here](https://pkgs.alpinelinux.org/package/edge/community/x86_64/chromium), and I also added `chromium-chromedriver`, and I removed the `--disable-software-rasterizer`, `--disable-dev-shm-usage` and `--disable-web-security` flags as well.

[2019-09-24 05:17] #36 closed

[2019-09-25 14:32] jlandure opened #38 "Add a version to "with-node" and "with-puppeteer""
**Context**

It could be useful to use a semver and not using the `latest` tag.
Example: `76`, `76-with-node`, `76-with-puppeteer`

**Alternatives**

None.

**Has the feature been requested before?**

Nope.

[2019-09-25 14:34] walter-heestermans-toyota commented on #34
tested too and works

[2019-09-25 14:44] jlandure commented on #36
Hi @hodossy 👋
Thanks for your feedback. 👍

Can you explain a little the fixed problem to improve the sustainability of this image? 📝
Do you think this image is useful?
What's your usage of the image? for testing purpose? 🐛
Have a great day!

[2019-09-25 14:46] jlandure commented on #34
Hi @sibijohn72 @walter-heestermans-toyota 👋
Thanks for your comments! 👍

Can you explain your main usage of this image?
Or at least the command you use to generate `pdf`? Is it with chromium command or with puppeteer? 🙌

Have a great day.

[2019-09-25 15:09] sibijohn72 commented on #34
With puppeteer, more correctly with a library called puppeteersharp which is c# wrapper around puppeteer. What i plane to do with this image is set up a product like browserless.io

[2019-09-25 20:32] ardeois opened #39 "chromium-browser not starting"
**Describe the bug**
First I want to thank you for this image, which is really helpful for our build system.
However, since today it seems like chromium fails to start with, displaying the following error:
[code]

It looks like this happens since the last image was pushed (5 hours ago)

**To Reproduce**
Steps to reproduce the behavior:

1. Execute `docker container run -it --rm --entrypoint "" zen

[2019-09-25 22:58] teddy-error commented on #39
Cloning the Dockerfile and downgrading the Chromium version eliminated this error. Didn't test many due to crunch here but found no such issue with `chromium@edge=72.0.3626.121-r0`.

@ardeois The Chromium version you used (in the table ?) is `77.0.3865.75-r0`.

So, issue seems to be upstream

[2019-09-26 05:13] robwilde commented on #39
@teddy-error could possibly share the line you changed in the docker file to adjust the version as I am not sure of the syntax.

Thanks

[2019-09-26 10:17] jlandure commented on #39
For your information, the latest version installed is Chromium `77.0.3865.75-r0`.
We have to investigate to check what's the problem. 🙌

[2019-09-26 11:54] mllopart commented on #39
In our case we changed our docker build to

`chromium@edge=72.0.3626.121-r0`

That solved our problem for now in our Pipelines

[2019-09-26 12:14] jlandure commented on #39
Hi @mllopart 👋
Thanks for your reply!

This is an option but you need to fork the project. 👌
I'm thinking: why are not you using the image tag `zenika/alpine-chrome:72` instead of modifying the `Dockerfile` and built it by our own?
I am very interested! 👍

[2019-09-26 19:55] teddy-error commented on #39
@jlandure This was of course the first attempted solution (much easier than cloning after all…) but interestingly using a static version tag did not resolve the issues.

[2019-09-26 20:49] ardeois commented on #39
Thank you for the analysis.
I indeed got around the issue by fixing the version of the docker image. However, as we're using `with-node` tag, and this tag is not versioned, we had to duplicate what this Dockerfile is doing
https://github.com/Zenika/alpine-chrome/blob/0e0678f13b63556c1a6ec3a406de01ad0fc68b16/with-node/Dockerfile#L4-L9

I guess fixing this issue would have avoided that override, but

[2019-09-26 22:30] robwilde commented on #39
Thanks for the info. I investigated the apk installs and did just that. I found that if I replace @edge with @v3.9  it will complete the build and install chrome 72, then everything works.
A colleague had a similar issue and suggested it actually has something to do with the Linux Kernal version 5.0.0.27 and everything works OK with 5.0.0.25.

I can confirm that as I have one build running on Elem

[2019-09-28 09:00] chadlwilson commented on #39
This also ran into this with the `:with-node` images. Since we extend this image anyway; we could around it with a similar approach to @robwilde

[code]

Would be great if we could get versioned variants of the `with-node` tags here as these images are very convenient. :-)

[2019-09-29 10:34] chadlwilson commented on #39
[code]
Is also an option for those who want to use the old image in its entirety - the one that had Chromium 76 prior to its removal from Alpine's repository.

[2019-09-29 17:00] seanpianka commented on #39
@chadlwilson Why did you use `USER chrome` there, is there an issue using root?

[2019-09-30 00:54] gamov commented on #39
Thank you for that!

[2019-09-30 04:11] chadlwilson commented on #39
The base [Dockerfile](https://github.com/Zenika/alpine-chrome/blob/master/Dockerfile)s run as `USER chrome` rather than `root`; so was just switching back to the same user as the base image for consistency (although running as non-root is good practice in general).

[2019-09-30 07:22] jlandure commented on #39
Hi there 👋

Sorry for the delay.
Thanks @chadlwilson for your precious replies. 💚
Indeed, `with-node` has no version but I created the issue #38 to fix that. 👌

Has someone investigated why `Chromium 77` create this error? 🤔

[2019-09-30 07:37] jlandure commented on #39
For your information, I just manually published a `76-with-node` version for your needs.

[code]

[2019-09-30 07:44] chadlwilson commented on #39
Thanks @jlandure - that's nicer than a direct SHA `FROM` instruction :-)

[2019-09-30 08:17] #33 closed

[2019-09-30 08:19] jlandure opened #40 "Create a Documentation website"
**Context**

What are you trying to do and how would you want to do it differently? Is it something you currently you cannot do? Is this related to an issue/problem?
Would like to clean the README and create a doc website for using this image.
There is too many sections in the README explaining the different usecases...

Perhaps a doc website using VuePress...

[2019-09-30 10:27] paretl commented on #39
What about the one with the `with-puppeteer` tag ? This image has the exact same error with the latest version. For the moment I rebuild the image with the version 76 of Chrome.
@jlandure If you can publish a `76-with-puppeteer` version it would be very great :smile:
Thank you in advance!

[2019-09-30 12:03] FibreFoX commented on #39
As this issue is hitting other people too, did this issue already got reported to Alpine? Do you have any issue-tracker-link or such thing?

[2019-09-30 20:14] wtayyeb commented on #39
@ardeois
you need to uddate `libstdc++` to let chromium starts
`apk add libstdc++@edge`

[2019-09-30 20:25] FibreFoX commented on #39
@wtayyeb I tried this, but did not work:
[code]

Result:
[code]
Looks like Alpine is broken, probably due to a missing patch or so :(

[2019-10-01 09:29] jlandure commented on #39
Hi there!
I just tried @wtayyeb suggestion and it's working 🎉
https://github.com/Zenika/alpine-chrome/pull/41

@paretl I've pushed a `76-with-puppeteer` version. See [here](https://cloud.docker.com/u/zenika/repository/docker/zenika/alpine-chrome/tags)

[2019-10-01 09:30] jlandure commented on #39
For your information, it's hacktoberfest. Do not hesitate to create PR to support and improve this image 🙌
More about [Hacktoberfest here](https://hacktoberfest.digitalocean.com/)

[2019-10-01 22:35] #38 closed

[2019-10-02 09:03] paretl commented on #39
Thank you @jlandure
I think it could be a great idea to have a tag with the chrome version for each one (in the future of course). It will permit to us to have a fix version of this image into our pipeline
We can talk about it if you want

[2019-10-02 14:38] jlandure commented on #39
@paretl 💡 Yes Indeed. I'm trying to do it in #38 🙌

[2019-10-03 15:12] jlandure commented on #39
Hey @paretl 👋
You can now find new tags: 🎉
- `with-node`, `77-with-node`, `77-with-node-10`
- `with-puppeteer`, `77-with-puppeteer`
See [README](https://github.com/Zenika/alpine-chrome) or [DockerHub](https://cloud.docker.com/u/zenika/repository/docker/zenika/alpine-chrome/tags) for more info

[2019-10-03 17:30] ardeois commented on #39
Thank @jlandure
I confirm using latest docker version fixed the issue.
Should I close this issue or I let you close it?

[2019-10-03 19:22] jlandure commented on #39
Issue closed! Thanks everyone for your support 🎉

Do not hesitate to give information on your usage with this image using the [issue template "support"](https://github.com/Zenika/alpine-chrome/issues/new?template=03_thanks.md).
I am thinking of refactoring the readme and add a contributor page like this [one](https://github.com/kefranabg/readme-md-generator#contributors)

[2019-10-03 19:22] #39 closed

[2019-10-03 19:24] jlandure commented on #34
Hey @wheestermans31 👋
Are you still facing issues generating image with this image or can I close this issue?

[2019-10-03 19:25] walter-heestermans-toyota commented on #34
You may close, team has tested and all fine now

walter

[2019-10-03 19:29] #34 closed

[2019-10-05 19:09] wtayyeb commented on #39
@FibreFoX full installation command is like below on a pure alpine1.10 image
[code]

[2019-10-06 09:07] FibreFoX commented on #39
@wtayyeb ;) my problems are fixed now, switched our docker-image to be based on `alpine:edge`, due to the problem with mixing repositores having different glibc-stuff (which ends up not being able to get mixed that easy). I got to this issue "by accident" using DuckDuckGo because I found that `_ZNSt19_Sp_make_shared_tag5_S_eqERKSt9type_info: symbol not found`-stuff. So your solution did not work f

[2019-10-06 12:04] jlandure commented on #39
Hi @FibreFoX
Glad you succeed 🎉
I was wondering: why don't you update this repository to improve it and help others instead of forking or creating your own image? 🤔
It's hacktoberfest 🎉✌️

[2019-10-08 13:39] fenchu opened #45 "chrome 77 on stable alpine"
Hi
I'm having stability issues with chromium77 on alpine edge, (selenium freezes), I like to use alpine stable (v3.10). I also like to use chromium76, the only chromium I found in stable was chrome73.
I currently use ubuntu 18.04 but it is 1.5GB large, while the alpine edge is only 384MB.

[2019-10-09 15:54] jlandure commented on #45
Hi @fenchu 👋

Thank you for your feedback.
Have you seen there is now dedicated tags for each Chromium version described [here](https://github.com/Zenika/alpine-chrome#supported-tags-and-respective-dockerfile-links)?

By the way, I don't understand your issue.
Is there a bug with its description? a request to add an ubuntu based image?

[2019-10-09 22:37] fenchu commented on #45
Sorry for the confusion, I found the tags but they all work on 3.10.2 (edge), except for :73 which runs on 3.10.1, I like to run them all on 3.10.0, because this is what our software has been tested with. The problem with edge is that you suddenly gets a package update that may broke something.

[2019-10-09 22:37] #45 closed

[2019-10-14 15:33] sergei66666 commented on #36
@hodossy Thank you.
Removing `--disable-software-rasterizer` help me to run Cef 76.1.13 (CefGlue) on linux.

[2019-10-22 13:13] nrawat151290 opened #46 "Chromium package in v3.10 has upgraded to 77.x.x.x"
We are using puppeteer 1.12.0 in our project. For this version, we need chromium 73.x.x.x which was present in v3.10 branch. Recently version has been upgraded to 77.x.x.x, which broke our application. can you pls mention the branch which has chromium 73.x.x.x package?

[2019-10-25 09:31] jketterl opened #48 "Cannot install stable alpine packages in :latest"
**Describe the bug**
We are currently unable to build our cucumber test images since 3227d27e54cc0299093dd79883449eb4e9f628f7 overwrites the alpine 3.10 repositories from the build, leaving only edge behind. While this may be necessary (not sure if it is) for the installation of chromium, I think it would be good practice to restore the original configuration afterwards.

There's also some feedbac

[2019-10-27 13:54] jlandure commented on #46
Hi @nrawat151290 👋

Thanks for your interest in this image! 👌
Sorry for the delay. I was busy organizing a quite big conference called [DevFest Nantes](https://devfest.gdgnantes.com/)

I don't understand what's missing with the tag versions described [here](https://github.com/Zenika/alpine-chrome#supported-tags-and-respective-dockerfile-links)

[code]

What's next?
Do you want me to create a `73-w

[2019-10-27 15:00] jlandure commented on #48
Hi @jketterl  👋

Sorry for the delay. I was busy organizing a quite big conference called [DevFest Nantes](https://devfest.gdgnantes.com/)

I will take time to think about `edge vs main` problems 👌
In the meantime, could you use a tagged version?
How can I help? Do you have a proposal to solve the `chromedriver` problem with `76`?

[2019-10-28 16:44] jketterl commented on #48
Hi @jlandure :smiley: thank you for your reply.

Don't worry about the delay, we've all been here, and I must say that from my perspective, it was still pretty fast.

For a workaround, I have added a step to our Dockerfile that simply adds the alpine stable URLs back. This results in a list of downgrades, of course, but to my surprise, it works. I guess we're lucky that chrome 77 is in stable by n

[2020-03-04 21:04] freedev commented on #28
I'm struggling with the same problem, any update on this?

[2020-03-05 03:00] lygstate commented on #28
Sorry, wait a minute

[2020-03-05 03:04] lygstate commented on #28
Change the APKBUILD file
[code]

[2020-03-05 03:05] lygstate commented on #28
Basically,copy the file content of swiftshader
[code]

[2020-04-07 10:28] pxlrbt commented on #28
@lygstate You got it working? Would you mind creating a PR with a working Dockerfile?

[2020-04-07 14:04] jlandure commented on #28
@lygstate Please help us with this problem 👍
Open a PR or update the branch of the #29

[2020-04-07 22:29] mlovatonv commented on #28
@lygstate you got it working? I copied the file content of swiftshader but it still doesn't work for me. How did you recompile chromium?

[2020-04-08 05:53] lygstate commented on #28
Please refer to https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/6509

[2020-04-08 11:51] pxlrbt commented on #28
@jlandure I'm currently building chromium as @lygstate suggested. Will create a PR if I succeed.

[2020-04-09 14:24] jlandure commented on #28
Any news @lygstate @pxlrbt ? 👍

[2020-04-09 16:28] pxlrbt commented on #28
@jlandure It's still building on my machine. And if it's successful I still need to integrate it into your Dockerfile. Somehow I could install `alpine-sdk` yesterday which is required.

[2020-04-10 11:19] pxlrbt commented on #28
@jlandure Compilation is finally done and it worked with the example `chromium-browser --headless --disable-dev-shm-usage --no-sandbox --screenshot --hide-scrollbars https://webglfundamentals.org/webgl/webgl-fundamentals.html`.
I will check how to fix the issue with alpine-sdk after the weekend.

[2020-04-10 16:59] pxlrbt commented on #28
@jlandure I got all issues before compilation step fixed within the Dockerfile. I am currently running a build on Docker Hub since last build took about 1,5 days on my machine. Maybe it's faster, maybe it will be aborted. Will create a PR if build is successfull.

[2020-04-11 10:57] pxlrbt commented on #28
@jlandure I created a PR with a prebuilt and a build from source version here: https://github.com/Zenika/alpine-chrome/pull/50

[2020-04-13 14:58] jlandure commented on #28
Hi @pxlrbt

Thanks for your work! 🙌  How much times does it take to compile Chromium?
I will have a look.

FYI, I think there is a way to use [multi-stage build](https://docs.docker.com/develop/develop-images/multistage-build/) to create the binary and *NOT* storing in the repository 🤔

And... I have to create a `contributor` section to reward the contribution 👍
Thanks again.

[2020-04-13 15:05] pxlrbt commented on #28
@jlandure It took around 1.5 days to compile chromium on my machine. Probably should have a look at @lygstates solutions here https://github.com/Zenika/alpine-chrome/pull/51
I didn't test his result, but it looks way cleaner since he only add the missing libraries and there is  no need to recompile chromium again when new versions are released.

[2020-04-14 14:00] jlandure commented on #46
Hi @nrawat151290
Any news regarding this issue?
Can I close it?

[2020-04-14 14:02] jlandure commented on #48
Hi @jketterl 👋
In a recent update, I no longer used `@edge`. I think `apk add bash` command will be fine.

Do you still need a `with-chromedrive` version?
Are you interested to contribute to this project to bring this new tag aline?

[2020-04-15 10:20] jlandure opened #52 "Add `web-gl` by default?"
**Context**

The base alpine-chrome is 135 MB. The `web-gl` one is 138 MB.
Does it make sense to add it by default? 🤔

**Discussion**

Please help to decide 👍

[2020-04-15 10:26] jlandure opened #53 "Add a new way to get the swiftshader libs"
**Context**

Thanks to @pxlrbt we have the `so` libs compiled and available for swiftshader (see #50)

**Alternatives**

Can you achieve the same result doing that?

It could be interesting to get or generate the libs without rebuilding Chrome (1,5 day), getting the generated APK, unpacking it and retrieving the `so` files.

[code]

It is not working... 😢

** Other alternative **

See @lygstate in

[2020-04-15 10:46] lygstate commented on #53
I didn't test it yet because of slow network, let's dig why

[2020-04-15 10:59] pxlrbt commented on #52
I don't think theres any sence in mantaining two images. It should be noted in the readme that you can disable GPU with `--disable-gpu` flag.

[2020-04-15 12:11] pxlrbt commented on #53
What I just tried and what also did not work: `apk add mesa-dev`.
I also wanted to try to compile swiftshader on its own with from https://github.com/google/swiftshader but I'm getting stuck with:
[code]

[2020-04-15 13:18] jlandure commented on #53
Thanks @lygstate @pxlrbt for investigating! 🙌

@lygstate @pxlrbt are you interested to be featured in the homepage. Can you describe with this [kind of issue](https://github.com/Zenika/alpine-chrome/issues/new?template=03_thanks.md) how you are using this image?

I will add a contributor section in the README. like here: https://github.com/zenika-open-source/awesome-remote-work

[2020-04-15 13:30] #46 closed

[2020-04-15 14:56] lygstate commented on #53
I am not using this image anymore:) At the first time, I am just curious about why alpine chrome can not running webgl in docker:)....

[2020-04-15 20:29] pxlrbt commented on #53
Well, I am actually also not using this image, but I am running an alpine image with PHP, Node and Puppeteer for generating complex PDFs.

[2020-04-16 11:10] x0rzkov opened #55 "add with selenium/playwright"
Hi guys,

Hope you are doing well !

It would be awesome to have alpine chrome with selenium.

Is it something possible to add ?

Cheers,
X

[2020-04-19 12:53] jlandure commented on #55
Hi @x0rzkov

Yes I'm fine and you?
First of all, thanks for the suggestion. 👍

What do you do with Selenium?
Personally I haven't played with selenium for a long time so I didn't know how to install / manage / check that it's working. 😇
Can you specify a little more the goals and an exemple of achievement?

Also have you tried dedicated docker image to selenium? [see here on the docker hub](https:

[2020-04-19 12:55] jlandure commented on #48
Hi @jketterl
Thanks again for the suggestion 👍

Do you have any news about your suggestion on how to do it?

[2020-04-20 06:11] x0rzkov commented on #55
Hi,

Thanks for your reply !

We (with a friend @lucmichalski) are doing some web scraping for building a cars dataset for deep learning purpose.
Ref. https://github.com/lucmichalski/cars-dataset
Example: https://github.com/lucmichalski/cars-dataset/blob/master/plugins/autotrader.com/crawler/crawler.go#L16

Nb. Have you considered to add https://github.com/microsoft/playwright also.
It would be an

[2020-04-29 13:43] jlandure commented on #12
see https://github.com/addyosmani/puppeteer-webperf

[2020-05-03 14:14] jlandure commented on #15
@all-contributors please add @c24w for bug

[2020-05-03 14:15] jlandure commented on #17
@all-contributors please add @jokester for bug

[2020-05-03 14:16] jlandure commented on #18
@all-contributors please add @OscarSotoSanchez for bug

[2020-05-03 14:17] jlandure commented on #19
@all-contributors please add @alexandru-calinoiu and @utvk for bug

[2020-05-03 14:19] jlandure commented on #22
@all-contributors please add @mamacdon for bug

[2020-05-03 14:20] jlandure commented on #21
@all-contributors please add @DJFliX for bug

[2020-05-03 14:21] jlandure commented on #23
@all-contributors please add @horacimacias for bug

[2020-05-03 14:24] jlandure commented on #24
@all-contributors please add @emilkjer for bug

[2020-05-03 14:25] jlandure commented on #26
@all-contributors please add @likwid @dmitryr117 for bug

[2020-05-03 14:27] jlandure commented on #33
@all-contributors please add @gecube @robertsupport for bug

[2020-05-03 14:29] jlandure commented on #34
@all-contributors please add @wheestermans31 for bug

[2020-05-03 14:31] jlandure commented on #36
@all-contributors please add @hodossy for bug

[2020-05-03 14:32] jlandure commented on #39
@all-contributors please add @ardeois for bug

[2020-05-03 14:33] jlandure commented on #39
@all-contributors please add @FibreFoX for question

[2020-05-03 14:35] jlandure commented on #39
@all-contributors please add @chadlwilson for question and ideas

[2020-05-03 14:37] jlandure commented on #45
@all-contributors please add @fenchu for bug

[2020-05-03 14:39] jlandure commented on #46
@all-contributors please add @nrawat151290 for bug

[2020-05-03 15:09] jlandure commented on #55
@all-contributors please add @x0rzkov for bug and ideas

[2020-05-03 15:10] jlandure commented on #48
@all-contributors please add @jketterl for bug

[2020-05-03 15:12] jlandure commented on #48
Hi @jketterl 👋

Do you have any news for me? ✏️
The `apk add bash` command is fine, isn't it? 👌
Do you still need a `with-chromedriver` version? 🤔

[2020-05-03 15:13] jlandure commented on #28
@all-contributors please add @pxlrbt for question

[2020-05-03 15:16] jlandure commented on #28
✅ This issue can be closed since this commit b5e7e1d0db27a1cfcd41d626e88f801747371c1d 🎉

[2020-05-03 15:16] #28 closed

[2020-05-10 17:13] jlandure commented on #55
hey @x0rzkov 👋

How are you?

I've tried to work with Playwright here at #85
But the result is not very useful 😅

Can you try this from your side to help me create the `with-playwright` tag?

[2020-05-14 09:14] x0rzkov commented on #55
I sent you a DM on twitter because I have some questions to ask you about that and did not wanted to pollute this feed.

[2020-05-14 13:40] jlandure opened #86 "Create an example with web-vitals"
**Context**

see https://web.dev/vitals/

[2020-05-17 21:08] jlandure opened #87 "Add the number of stars on DockerHub"
**Context**

Use https://img.shields.io/docker/stars/zenika/alpine-chrome.svg?style=flat-square to get it.

[2020-05-17 22:04] jlandure opened #88 "Update badges about size of the image 🙌"
**Context**

See https://badgen.net/docker to use working badges
https://badgen.net/docker/size/zenika/alpine-chrome/latest

**Alternatives**
https://shields.io/
http://img.shields.io/docker/image-size/zenika/alpine-chrome/81

[2020-05-23 10:57] piotr-sikora-v opened #90 "grab with ffmpeg"
There is any option to grab screen to ffmpeg ?
I want to use this headless chrome to broadcast to youtube.
I now use https://github.com/kolyadin/live-video-broadcasting but this version crash all time

[2020-05-24 12:49] jlandure commented on #90
Hi @piotr-sikora-v 👋
Thanks for the suggestion. 👌

Could you describe your feature? ✨
Have you tried using this image? What are the dependencies missing? 📦
Do you have an example where it is not working? 📝

`ffmpeg` seems to [be available on apk](https://pkgs.alpinelinux.org/package/edge/community/x86_64/ffmpeg).

[2020-05-24 12:50] jlandure commented on #90
@all-contributors please add @piotr-sikora-v for bug and ideas

[2020-05-24 13:05] jlandure opened #92 "Add a `squash` version of alpine-chrome:latest"
**Context**

💡 This is only an idea.
To get a smaller image, we could use the experimental features `docker image build --squash`.
But it's not working on the Docker Hub. See https://github.com/docker/hub-feedback/issues/955

**Alternatives**

I can do it on my laptop and upload it.
Here is the difference: only ~5MB

[code]

**Conclusion**

Not very useful at the moment. 😅

[2020-05-24 17:56] piotr-sikora-v commented on #90
the idea is for saving stream from pages like jitsi-meet conferences (jibri is hard to implement).
I don't know how to connect...
in https://github.com/kolyadin/live-video-broadcasting they use xvfb and then ffmpeg connect to DISPLAY:0
I don't know where i should connect when using headless chrome
There is a some display where chrome start ?

[2020-05-24 19:47] jlandure commented on #90
Hey @piotr-sikora-v 👋
Thanks for your answer 👌

Ok I understand.
I don't know if it could work because the aim of this image is to run Chromium in Headless mode.

If you arrive to make it work with [this X11 example](https://github.com/Zenika/alpine-chrome/tree/master/examples/x11), it could be fun! 🎉

[2020-05-26 06:23] jlandure opened #95 "Get a deno example using Chrome"
**Context**

It could be fun to get a deno example using Chrome using the `with-deno` tag.
See the `with-deno` [folder](https://github.com/Zenika/alpine-chrome/tree/master/with-deno)

Related to https://github.com/Zenika/alpine-chrome/pull/89

[2020-05-26 06:31] jlandure opened #96 "Update the README with the provided features"
**Context**

I wrote [a post on dev.to](https://dev.to/jlandure/crafting-the-perfect-container-to-play-with-a-headless-chrome-ilp). It could be nice to reuse the content to complete the `README.md`

[2020-05-28 07:35] aceol commented on #95
Would be glad to do that! I'll give a try ASAP

[2020-05-28 08:59] jlandure commented on #95
Hi @aceol 👋

Thanks for your motivation! 👍
For your information, I've discussed with @hgwood and said:

And [in the deno page](https://deno.land/v1)

[2020-06-03 12:16] jlandure opened #97 "Remove the `with-webgl` tag"
**Describe the bug**
Since the base image got the support of `webgl`, the `with-webgl` tag doesn't mean anything now.

- [x] Update README.md
- [x] Remove the `webgl` folder
- [x] Update the build on the Docker Hub

[2020-06-03 13:13] jlandure commented on #55
Hi @x0rzkov 👋

Thanks to @Niek I've updated the branch: the example using Playwright is working! 🎉
Please check it out and send feedbacks!

The `zenika/alpine-chrome:with-playwright` tag with a `Chromium 83` is working 🚀

[code]

[2020-06-03 13:14] jlandure commented on #55
Following the creation of the Playwright version, can I close this issue? 👍

[2020-06-03 13:19] x0rzkov commented on #55
yes of course, thanks for everything !

[2020-06-03 13:23] #55 closed

[2020-06-03 13:54] Niek commented on #97
In addition to this, the ``libEGL.so`` and ``libGLESv2.so`` files are not (no longer?) needed. They are included in the Chromium aport: https://pkgs.alpinelinux.org/contents?file=lib*GL*&path=&name=chromium&branch=edge&arch=x86_64

[2020-06-03 14:10] jlandure commented on #55
Please share the announcement: https://twitter.com/jlandure/status/1268175622230233091
And my post on dev.to here: https://dev.to/jlandure/crafting-the-perfect-container-to-play-with-a-headless-chrome-ilp

[2020-06-03 19:35] jlandure commented on #97
Hey @Niek 👋

Thanks for the news. 👌
I will check that. Related to #53

By the way, @Niek feel free to describe your usage with this image [using this issue template](https://github.com/Zenika/alpine-chrome/issues/new?template=03_thanks.md)

[2020-06-03 20:01] Niek commented on #53
Crossposting here for visibility:
- The swiftshader libs are now part of the Chromium aport, so no longer needed to copy them over: https://pkgs.alpinelinux.org/contents?file=lib*GL*&path=&name=chromium&branch=edge&arch=x86_64

And something else I noticed while benchmarking WebGL support:
- Switching to ``--use-gl=swiftshader`` does bump up the WebGL performance significantly compared to running

[2020-06-03 20:56] jlandure commented on #53
Please have a look to this PR #100 🎉

It's working for me using what @Niek said. 👍

If there is no bad news 😅  I will merge it tomorrow. 👌

[2020-06-03 21:22] jlandure opened #101 "🤔 Remove tini"
**Describe the bug**

From the [tini lib](https://github.com/krallin/tini)

[2020-06-04 07:00] jlandure commented on #101
See also https://www.elastic.io/nodejs-as-pid-1-under-docker-images/ thanks to @pyaillet 👍

[2020-06-04 09:24] #53 closed

[2020-06-04 09:24] jlandure commented on #97
Fixes with #100

[2020-06-04 09:24] #97 closed

[2020-06-13 22:35] aceol commented on #95
Hi @jlandure sorry for the delay.
What exactly do you mean by **a deno example using Chrome**, any specific idea?

I can see it's not working with puppeteer. I had to update the Dockerfile commenting
`#RUN git clone https://github.com/puppeteer/puppeteer/blob/master/src/ puppeteer`
I guess it's a known issue but is that ok to be on the master branch?

[2020-06-14 10:22] jlandure commented on #95
Hi @aceol 👋

💬 I think about running something with deno using a Chromium _(in Docker)_
See : https://github.com/denoland/deno/issues/1120 or https://github.com/denoland/deno/issues/4481 (and [this demo](https://github.com/eliassjogreen/deno_webview))

👌 Yes Puppeteer will not work because of its node dependencies. See my comment https://github.com/Zenika/alpine-chrome/issues/95#issuecomment-63521

[2020-06-17 10:19] llange opened #103 "Cannot manage to reproduce to use `with-playwright`"
Hello everybody !

I'm facing the following issue:

**Describe the bug**
I'm not able to reproduce the [getting started instructions for Playwright](https://github.com/Zenika/alpine-chrome#how-to-use-with-playwright)

**To Reproduce**
Steps to reproduce the behavior:

1. Version of the image :
[code]
2. Execute :
[code]
3. See error
[code]

**What is the expected behavior?**
As per the documentati

[2020-06-17 12:20] llange commented on #103
I managed to make it work with the following changes:

1) Changing the cmdline to:
[code]
or
[code]

2) Changing the script to:
[code]

I'll be preparing a MR to change it.

[2020-06-20 09:32] jlandure commented on #103
Hi @llange 👋

Thanks for the report and your contribution.

FYI, I've tested on my machine (same docker engine and on Catalina). I did reproduce the problem if I delete my local `node_modules` 👍

I will merge your PR. Thanks again! 🙌

[2020-06-20 09:32] #103 closed

[2020-06-20 09:33] jlandure commented on #103
@all-contributors please add @llange for bug and code

[2020-06-22 08:17] jlandure commented on #52
✅  Already done with b7c44f62c0d0939a91e6cf0905bd16727cdbe559
Thanks @pxlrbt 👍

[2020-06-22 08:17] #52 closed

[2020-06-22 08:19] jlandure commented on #48
With no news from your part @jketterl I've decided to close this issue.
Feel free to re-open it if you need some info.

[2020-06-22 08:19] #48 closed

[2020-06-24 17:08] mhanberg opened #106 "Text in screenshot is fuzzy"
I am attempting to use Chrome to take some screenshots.

Here is a screenshot taken on Alpine `docker container run -it --rm -v $(pwd):/usr/src/app --security-opt seccomp=$(pwd)/chrome.json zenika/alpine-chrome --screenshot --no-sandbox --hide-scrollbars --window-size=1200,630 https://github.com/Zenika/alpine-chrome`
![alpine-screenshot](https://user-images.githubusercontent.com/5523984/85594920-6

[2020-06-25 15:46] jlandure commented on #106
Hi @mhanberg 👋

First, thanks for using this image and thanks for the report! 👍

I've reproduced the problem. 🐛

I've seen a similar answer on StackOverFlow:
- https://stackoverflow.com/questions/56937689/alpine-linux-fonts
- https://stackoverflow.com/questions/49732554/puppeteer-headless-chromium-on-alpine-font-issues

I've linked to these problems (from Puppeteer) without good results.
- https:/

[2020-07-01 00:06] ilyanoskov opened #107 "Unable to download a file with Playwright inside the container"
**Describe the bug**
I am trying to download a file programmatically. The script runs fine outside of the container, but fails to download the file when I run it inside the container. All other steps in the Playwright script execute OK.
**What is the expected behavior?**
The expected behavior is that the script downloads the file locally to a /tmp folder (just like Playwright does) and then I uplo

[2020-07-01 09:11] jlandure commented on #107
Hi @ilyanoskov

First, thank you for using this image and opening a bug. 👍

I will look at this issue in 4 hours.

🤔  I do not understand why you got an `TimeoutError`.
Can you share to me the `js` file you're running with playwright? 📝
Thanks again.

[2020-07-01 12:33] ilyanoskov commented on #107
@jlandure thanks for the fast response.

The script is very straightforward, it's just navigating to a page and clicking "download file" button.

Here is a part of the script that times out:
[code]
It executes fine outside of the container, but not inside.

[2020-07-02 15:56] ilyanoskov commented on #107
@jlandure do you have any pointers in which direction I could look? I am trying to make this work or abandon the solution :) Thanks a lot in advance

[2020-07-30 09:39] hardy4yooz opened #109 "☸️ Can not run in Kubernetes?"
**Describe the bug**
Can this image run in Kubernetes? I got this error.

[code]

[2020-07-31 06:35] boorwey opened #110 "Return DOM after full loading page."
Me need to get the markup after the page is fully loaded and the javascript is running.

Run docker container run -it --rm zenika/alpine-chrome --no-sandbox --dump-dom https://www.mysite.com/ works well, but I get not the html that the real browser gives.

Perhaps I missed something and hope for your help.

[2020-08-20 16:25] jlandure commented on #110
Hi @boorwey

Sorry for the delay and thanks for your report.

I think you cannot get the "real DOM" the browser generates with the command `--dump-dom` command.
As described [here](https://peter.sh/experiments/chromium-command-line-switches/), it `Instructs headless_shell to print document.body.innerHTML to stdout. ↪`

If you want to get the current DOM, you need to use something like the DevTools

[2020-08-20 16:40] jlandure commented on #109
Hi @hardy4yooz

Thanks for your issue! 👍
Sorry for the delay. 😊

I think you have a problem using the sandbox mechanism of Chromium. [Please read this section of the README](https://github.com/Zenika/alpine-chrome#3-ways-to-securely-use-chrome-headless-with-this-image).
What method did you use? `--no-sandbox` or `SYS_ADMIN` or `seccomp`?

In this [chromium page](https://bugs.chromium.org/p/chromiu

[2020-08-20 16:41] jlandure commented on #107
Hi @ilyanoskov

Sorry for the delay. 😊

Did you find a solution for your problem? Do you have a working example outside the container to help me reproduce your problem?

Thanks again. 👍

[2020-08-21 12:38] crab21 opened #112 "screenshot write file access_denied"
**Describe the bug**

[code]

**What is the expected behavior?**
[code]

Looking forward to your reply.
tks.

[2020-08-21 15:17] #112 closed, assigned to nobody

[2020-08-24 15:01] jlandure commented on #112
Hi @crab21 👋

Thanks for the issue and happy you solved it. 👍

For the community, can you share your solution or the workaround you found?

And thanks for using this image. 🎉

[2020-08-29 00:42] ck99 commented on #16
Also interested in this.

I've had success building ARM images on x86 build machine using an approach like this:

https://matchboxdorry.gitbooks.io/matchboxblog/content/blogs/build_and_run_arm_images.html

[2020-09-22 16:33] simonfrey commented on #109
Have the same problem. Running alpine-chrome in k8s fails. I choose to go with SYS_ADMIN caps and the default entry point:

[code]
The volume mounts are temporary volumes

Already tried following and that did not help:
- add `DAC_OVERRIDE` to the CAP add section
- run with `--no-sandbox`
- run with custom args dropping the `--disable-software-rasterizer` arg

[2020-09-23 15:00] ebriand opened #114 "Emojis are not rendered properly"
Hey 👋

**Describe the bug**
Emojis are not rendered properly.

**To Reproduce**
Steps to reproduce the behavior:

If you run the following command:
[code]
The emojis in this page are not rendered properly. Excerpt of the pdf :

![image](https://user-images.githubusercontent.com/1011902/94030124-c2f98480-fdbd-11ea-95eb-780e78660a13.png)

**What is the expected behavior?**

I expect the emojis to be

[2020-09-28 08:12] jlandure opened #117 "Test with Headless-Recorder"
**Context**

Could be interesting to test the `alpine-chrome` image with this repo https://github.com/checkly/headless-recorder to record scripts !

Perhaps make [an working example in this folder](https://github.com/Zenika/alpine-chrome/tree/master/examples)

[2020-09-30 16:50] simonfrey commented on #109
The following issue might be a fix for this? #8

[2020-09-30 16:57] jlandure commented on #109
Hi @simonfrey 👋

First, thanks for your time! 👍

I don't know if it could work! I will take some time to investigate it.

Can you share your K8S example in a PR in the [`examples` folder](https://github.com/Zenika/alpine-chrome/tree/master/examples)? If you wait for October, your PR will count for **hacktoberfest** 🎉

[Like I said, have you tested this?](https://github.com/Zenika/alpine-chrome/iss

[2020-09-30 17:01] #114 closed

[2020-09-30 17:14] simonfrey commented on #109
Yes I tried the CAP_DAV_OVERIDE and the same error still occurs

[2020-10-01 09:21] jlandure commented on #109
Hi @simonfrey

Ok! thanks for the reply 😊

[2020-10-04 00:57] neelkamath commented on #88
Can you assign this to me?

[2020-10-04 01:01] neelkamath commented on #88
It looks like there's already a badge for the size of the layers ([reference](https://github.com/Zenika/alpine-chrome/commit/177258128a04fd8b612effb08c11e4b197e87902)). Should we close this issue, add the size badge in addition to the existing layers badge, or replace the layers badge?

[2020-10-05 04:10] agengdp commented on #87
Can you assign it to me ?

[2020-10-05 07:45] jlandure commented on #87
Hi @agengdp 👋

Thanks for your interest. I've assigned the issue to you. Please make a PR 👍

[2020-10-05 07:52] jlandure commented on #88
Hi @neelkamath 👋

Thanks for your interest! 👍

For the `latest` tag, I got `162MB` from [the Docker Hub](https://hub.docker.com/layers/zenika/alpine-chrome/latest/images/sha256-cbef07f4a2dbb346b22cc639e15e250adb74f094865b522d211780a5f20769a8?context=explore)

On Shields.io, I got `171MB` [here](https://img.shields.io/docker/image-size/zenika/alpine-chrome/latest)
On Badgen, I got `162MB` [here](ht

[2020-10-05 11:40] neelkamath commented on #88
I can't find a "Shields.io img size badge", only a Mircrobadger one (i.e., `[![Layers](https://images.microbadger.com/badges/image/zenika/alpine-chrome.svg)](https://microbadger.com/images/zenika/alpine-chrome)`). Should I replace that? It does show 162 MB already though.

[2020-10-05 13:34] #87 closed

[2020-10-06 08:34] jlandure commented on #88
Hi @neelkamath 👋

Thanks for your investigation. 👍

The badge from microbadger already in place seems to work well.
We could close the issue. What do you think?

[2020-10-06 09:00] neelkamath commented on #88
Yea, let's close it.

[2020-10-06 09:34] #88 closed

[2020-10-06 09:34] jlandure commented on #88
@all-contributors please add @neelkamath for question

[2020-10-06 21:19] jlandure opened #126 "⬆️ Update Playwright with the latest version"
**Context**

The example are done using Playwright 1.0.2
The latest version is 1.4.2. [See here for more info](https://github.com/microsoft/playwright/releases)

[2020-10-06 21:23] jlandure commented on #101
To be used in different environments and not only with Docker engine (on K8S for example), I propose to let tini in the Dockerfile. 😊

I close this issue.

[2020-10-06 21:23] #101 closed

[2020-10-07 15:20] hgwood opened #130 "❤️ Zenika/sensei is using Alpine-Chrome"
At Zenika we author content for our  [training activity](https://training.zenika.com/) (slides and workbooks) using markdown, so that it is easily versioned and reviewed by our trained. The markdown is then rendered into consistently styled web documents and PDFs using [Sensei](https://github.com/Zenika/sensei). Sensei uses Alpine-Chrome to generate the PDFs.

So thank you for making and maintaini

[2020-10-20 15:18] simonfrey commented on #109
I will build an example :D Would you be so kind and add the hacktoberfest label so it counts into it :D

[2020-10-21 08:12] jlandure commented on #109
Hey @simonfrey 👋

Yes, I added the label. 👍

[2020-10-21 17:21] jlandure commented on #130
Thanks @hgwood for this news! 🎉

[2020-10-22 01:12] mecm1993 commented on #126
Hi @jlandure I would like to work on this one

[2020-10-22 02:36] mecm1993 commented on #20
Hey @jlandure I am going to work on this one

[2020-10-25 14:59] #126 closed

[2020-10-25 15:10] #20 closed

[2020-10-25 15:22] #109 closed

[2020-11-04 17:07] CyberHippo commented on #109
Hi all,

Thank you for your great work on this image and the [example for k8s](https://github.com/Zenika/alpine-chrome/blob/master/examples/k8s/deployment.yml)!

I tried to run your example and I still got the following logs:

[code]

Is there a way to suppress them ?

Note that the pod is running fine and I can use the service without error.

[2020-11-20 07:23] stanislav-zaprudskiy commented on #109
Same here. Pod specs are:

[code]

Logs are:

[code]

I also tried setting `--no-sandbox` arg instead of configuring volumes and securityContext but without any luck.

Kubernetes version is `1.14`, and I tried both `zenika/alpine-chrome:83` and `zenika/alpine-chrome:86`.

@simonfrey, can you please explain on `securityContext`'s `allowPrivilegeEscalation: false` together with adding `CAP_SYS_ADMIN

[2020-11-24 15:57] grapevineai opened #145 "Permission denied to run npm install in app directory"
Maybe not a bug but definitely a weird behavior.

I'm trying to create my own docker image on alpin-chrome (86-with-node) to use my nodejs app with puppeteer.

Can anyone tell me why I don't have access to the app directory to install npm packages?

I have tried the following dockerfile:

[code]

But I get the following error:

[code]

[2020-11-25 08:23] #145 closed

[2020-11-25 13:59] johnykov opened #146 "ERROR: unable to select packages: so:libdav1d.so.4 (no such package):"
**Describe the bug**
when I try to build latest Docker file I get this error
Executing busybox-1.32.0-r7.trigger
OK: 6 MiB in 14 packages
ERROR: unable to select packages:
  so:libdav1d.so.4 (no such package):
    required by: ffmpeg-libs-4.3.1-r2[so:libdav1d.so.4]

**To Reproduce**
Steps to reproduce the behavior:

1. try to build main Dockerfile
2. See error
OK: 6 MiB in 14 packages
ERROR: unabl

[2020-11-30 15:39] jlandure commented on #146
Hi @johnykov 👋

Thanks for submitting your issue. 👍
I don't have any problems with the autobuild on DockerHub and I didn't get any errors on my laptop.

Could you give more information or retest the build? 😊
Thanks!

[2020-12-03 16:50] lukyanov opened #148 "Can't resolve domains inside the container (github.com)"
**Describe the bug**
I'm trying to create my own image based on `zenika/alpine-chrome`. For this, I need to do some operations with github and the github.com won't resolve.

**To Reproduce**
Steps to reproduce the behavior:

1. Create Dockerfile:
[code]

2. Run `docker build .`

**What is the expected behavior?**
Successful build.

**What is the actual behavior?**

[code]

**Versions**

| Software

[2020-12-03 19:46] lukyanov commented on #148
I noticed everything works fine if I remove this line from the base image:
https://github.com/Zenika/alpine-chrome/blob/master/Dockerfile#L17

[2020-12-17 09:11] gavrilka opened #151 "How to deploy python app with google chrome and chromedriver ?"
I am glad to find this source, i have a feeling to solve my 2 weeks unsolvable problem.
Running python app on AWS Ubuntu 20.04, that uses arsenic library (same to puppeteer). This library requires browser and driver for work. I Tested my python code on windows via PyCharm, with installed google chrome and chromedriver in source folder, and all works perfect. But i can't understand how to make it w

[2021-01-11 17:58] jackHedaya opened #152 "Crashes on Apple Silicon"
**Describe the bug**
On Apple Silicon, Chromium will crash on launch with the following message:

[code]

**To Reproduce**

1. Execute `$ docker-compose up --build -d`
2. See error

**What is the expected behavior?**
Chrome not to crash

**What is the actual behavior?**
Chrome crashes

**Possible solution**
Not sure –– hoping someone here might know what's going on

**Logs**
If applicable, add log

[2021-01-12 13:11] jlandure commented on #152
Hi @jackHedaya 👋

Thanks for the feedback. 👍

Can you share information about your `docker-compose` setup?
What's the Docker command line or options used?
Are you using the puppeteer example available [here](https://github.com/Zenika/alpine-chrome/tree/master/with-puppeteer) ?

Thanks!

[2021-01-12 13:14] jlandure commented on #151
Hi @gavrilka 👋

Sorry for the late reply. 😊
And thanks for submitting this issue!

Are you using **this** image `alpine-chrome`?
I think you are using the standard `python` image so there is no `chromium` installed...

Did you succeed? 👍

[2021-01-12 15:35] gavrilka commented on #151
Hello, Julien Landuré
My last try i was using official image from here
https://github.com/SeleniumHQ/docker-selenium/blob/trunk/docker-compose-v3.yml
But still didn't succeed, my free tier AWS Ubuntu memory is not enough for
running this docker image..

I am considering to migrate to windows server and try without docker, out
of ideas how to run my project, its working on my windows 10 PyCharm but

[2021-01-13 15:27] jackHedaya commented on #152
**Dockerfile**
[code]

**docker-compose.yml**
version: '3'
services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - '3001:3001'

[2021-01-14 12:50] hardy4yooz commented on #109
I used another project instead.

[2021-01-14 13:42] jlandure commented on #109
Hi @stanislav-zaprudskiy @hardy4yooz @CyberHippo 👋

Did you succeed with K8S? 🚀

@hardy4yooz Cool! What's the project? Perhaps we could add some help from them to resolve this problem... 👍

[2021-01-14 13:44] jlandure commented on #152
Hi @jackHedaya

Thanks for the example! 👍
Did you succeed on a classic machine? not an `Apple Silicon`?

[2021-01-14 17:21] jackHedaya commented on #152
I've never encountered this problem before while using an Intel Mac

[2021-01-15 09:05] stanislav-zaprudskiy commented on #109
@jlandure, in our case the desired functionality of printing pages into PDF using Chrome works - nevertheless the error logs mentioned are still reported.

[2021-01-18 15:54] jlandure commented on #109
Hi @stanislav-zaprudskiy 👋

Thanks for the update. 👍

Perhaps it is the same problem as described [here](https://github.com/puppeteer/puppeteer/issues/3698) in the Puppeteer project? 🤔

[2021-01-21 13:12] renovate[bot] opened #153 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:22] #153 closed

[2021-01-22 14:56] donofriov opened #154 "alpine-chrome:68 no longer working"
We have been using alpine-chrome:68 and as of 3 days ago our production application started failing because alpine-chrome:68 can no longer be started.

I see that 68 has been removed from the GitHub [releases](https://github.com/Zenika/alpine-chrome/releases) and [tags](https://github.com/Zenika/alpine-chrome/tags), would that have any affect on the docker hub image? https://hub.docker.com/layers/

[2021-01-22 16:35] jlandure commented on #154
Hello @donofriov 👋

Thanks for submitting your issue! 👍
FYI, the GitHub releases don't reflect the Docker [tags available in the Docker Hub](https://hub.docker.com/r/zenika/alpine-chrome/tags).

The `68` version is still available here: https://hub.docker.com/layers/zenika/alpine-chrome/68/images/sha256-07455c3ea22355829bc16cc013e20a8aeaea606d13c915073ee9a17627195ec4?context=explore

Can you share

[2021-01-26 06:11] Joebayld commented on #152
I have the same issue on apple silicon. Any news on this?

[2021-01-27 11:29] jlandure commented on #152
Hi @jackHedaya @Joebayld 👋

Sorry but I didn't have a Apple Silicon. 😊

Have you seen [this issue from the Puppeteer](https://github.com/puppeteer/puppeteer/issues/6622) side?
puppeteer issue: puppeteer/puppeteer#6622

Please notice that I don't know how Docker is working on Apple Silicon. It's a ARM based computer.

Perhaps you could make some tests to discover where is the problem...

1. Does yo

[2021-01-28 08:09] jlandure commented on #151
Hey @gavrilka 👋

Thanks for the update. 👍
Hope tha your project works!

Your issue is no longer related to this repository. (and I'm not a expert on `docker-selenium` image)
If you don't mind, I will close the issue in a few days.

💬 If you need help or mentorship, you can post your issue on StackOverFlow or publish a small article on dev.to
Have a good day.

[2021-01-29 02:54] Joebayld commented on #152
I only have Apple Silicon so that's all I can test at the moment! Lol

The issue doesn't exist when running outside the docker image (npm start), and it doesn't exist when deploying to a Google Cloud Run server. So it seems to only be Docker on macOS AS.

I can run that example container just fine. And I can also run the alpine-chrome container as well - I just get an error when making calls to pu

[2021-01-30 00:51] Joebayld opened #155 "Help adding custom fonts"
I'm trying to add a Google font to zenika/alpine-chrome:with-puppeteer but am not having much luck. Has anyone successfully done this?

For example, I'm trying to install: https://fonts.google.com/specimen/Montserrat

The main issue seems to be that I can't perform `wget`. I tried to install it with apk or even apt-get, but those give me errors as well.

[code]

This script throws the error `#5 1.

[2021-02-01 20:25] jlandure commented on #155
Hi @Joebayld 👋

Thanks for this issue. 👍

I think you can achieve easily the installation of your font.
I don't see the code where you are downloading the font but the `Unable to lock database: Permission denied` is quite  easy to resolve.

First you need to change the user before installing new alpine packages.
[code]

It should work! Please keep me updated! 👍
You can find an example with [the `w

[2021-02-01 20:29] jlandure commented on #154
Hi @donofriov

Any updates?

[2021-02-01 20:32] jlandure commented on #152
Hi @Joebayld 👋

Thanks for the update! 🙌
Please keep me updated!

[2021-02-01 20:32] #151 closed

[2021-02-01 20:54] jlandure commented on #148
Hi @lukyanov 👋

Thanks for the issue 👍
And a big sorry for the delay. 😊

I've checked your example and didn't get any errors.

[code]

Could you please recheck? Please keep me updated. 👍

[2021-02-01 21:07] jlandure commented on #146
Hi @johnykov 👋

Any updates? 👍

Without news, I will close the issue in a few days. 😊

[2021-02-02 00:27] Joebayld commented on #155
Hey @jlandure

Thanks for your help!! It took a few tries but looks like I got it. I also found that wget was already installed so I just skipped that! Here's my final script - how's this look?

[code]

One thing I also learned is that I can install them to the user fonts instead of the root via the following. I'm not sure if there is any benefit though.
[code]

I'm also curious the need for `--ch

[2021-02-02 08:29] jlandure commented on #155
Hey @Joebayld

Glad you succeed! 🎉

For the `chown` flag, please use this ref https://github.com/moby/moby/issues/34819 or [this page](https://docs.docker.com/engine/reference/builder/#copy). _To sum up, it is a way to ensure the copied files are used with the good user (not the one you have on your laptop/outside the container)._
To check that, please do a `ls -l` in your folder
[code]

FYI, a go

[2021-02-02 11:35] Joebayld commented on #155
Thanks again for the tips @jlandure.

I was using the `with-puppeteer` versions and using it as a devDependency so it didn't get installed with docker (and thus used the global version) - but I'll switch it over to the `with-node` version now and use a dependency instead.

Also, in doing this switch I realized that 20min ago was a major puppeteer release! 😅 So I'm sure you're going to want to upda

[2021-02-02 22:13] bboydflo opened #156 "alpine linux and puppeteerr issues"
**Context**

I am trying to use puppeteer inside an alpine linux image and steer the chromium version that comes with puppeteer. For some reason I get some issues, something like this:

(using the latest version of puppeteer as of now 6.0)

[code]

Also I am not sure why most if not all the `Dockerfile` examples I saw are skipping downloading chromium version that comes in with puppeteer.

**Alter

[2021-02-03 07:45] donofriov commented on #154
Hi @jlandure thanks so much for responding. We ended up upgrading to version `73` and the issue went away.

For additional information, running

[code]

Resulted in a seg fault

[code]

I don't have the exact output from 73 where we ended up but we were also to get it working with 71 and 86

[code]

[code]

There are errors on the new versions but they aren't affecting out functionality at all so

[2021-02-03 07:45] #154 closed

[2021-02-04 08:13] jlandure commented on #156
Hi @bboydflo 👋

Thanks for submitting this issue.

First of all, please notice that this project aims to create a tiny Docker image with an embed Chromium.
In my `Dockerfile` example, I don't want to download and install another Chromium in the `with-puppeteer` version because my Docker image aldreay got one Chromium up and ready.
Please see this folder: https://github.com/Zenika/alpine-chrome/tre

[2021-02-04 08:42] bboydflo commented on #156
Thanks!

My motivation is to use the version of chromium that comes in with puppeteer so that I can control the exact chromium version. As you said I think there are issues with the latest chromium on alpine.

Will close this for now.

[2021-02-04 08:42] #156 closed

[2021-02-04 08:48] jlandure commented on #156
Thanks for your reply @bboydflo 👍

[2021-02-04 08:59] bboydflo commented on #156
Thank you for this project!

[2021-02-04 11:19] jlandure commented on #155
Hello @Joebayld 👋

This project is using Alpine and the release of Chromium is described [here](https://pkgs.alpinelinux.org/package/edge/community/x86_64/chromium)
FYI, Alpine supports only Chrome 86 at the moment.

We are very welcome to make a PR with your fully working example! 🎉   Thanks a lot!

[2021-02-04 11:21] jlandure commented on #154
Hey @donofriov 👋

If you don't mind, could you create a issue of this kind: https://github.com/Zenika/alpine-chrome/issues/new?assignees=&labels=&template=03_thanks.md to explain your usecase and how this image helps you? Perhaps with the logo of your company to create a "Used by" section in the README. 👍

What do you think? 🤔

[2021-02-17 04:10] lukyanov commented on #148
I confirm. The issue is gone :)

[2021-02-17 04:10] #148 closed

[2021-03-19 12:24] drzraf opened #158 "devtools external socket binding in chrome headed mode"
**Context**

When running ` zenika/alpine-chrome:86` or `zenika/alpine-chrome:with-webgl` in **headed** mode, their is chromium gotcha:
Contrary to `--headless`, this will **not** bind the socket to the external container interface but only to 127.0.0.1 (https://stackoverflow.com/a/44200427/5441588):
 `chromium-browser --no-sandbox --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222`

[2021-03-22 14:43] Trane9991 opened #159 "`with-chromedriver` incompatible version"
Upon new release, docker image `with-chromedriver` got released with updated chromedrvier version and old chrome version:
![Screen Shot 2021-03-22 at 4 39 14 PM](https://user-images.githubusercontent.com/9948629/112007438-50c7e980-8b2d-11eb-8a36-3d3a0b234295.png)

This results in the broken `86-with-chromedriver` tag (`86-with-selenoid` as well), because `89` chromedriver doesn't work with `86` ch

[2021-03-23 10:44] siddCder opened #161 "Not able to run chromium inside alpine based docker(v3.10)"
**Describe the bug**
I am trying to run chromium in alpine docker in 3.10 version. For this I used below references:
https://github.com/Zenika/alpine-chrome/issues/36

I have installed both chromium and chromium-chromedriver.
I have tried running chromium browser by 2 different flag configurations:

1. chromium-browser --headless --no-sandbox --disable-setuid-sandbox --disable-gpu --disable-dev-sh

[2021-03-23 13:33] #159 closed

[2021-03-23 13:34] jlandure commented on #161
Hi @siddCder 👋

Thanks for submitting an issue. 👍

Are you using **this Docker image zenika/alpine-chrome** or trying to get your own image working?

Could you add the tag and version you are using?

Thanks.

[2021-03-23 18:57] siddCder commented on #161
Yes, I am trying to build my own image.
I am using node:12.13.0 as my base docker image, which inturn  uses alpine 3.10

[2021-03-23 20:10] jlandure commented on #161
Hi @siddCder 👋

Thanks for your reply. 👍

For your information, I am not a node maintainer nor a alpine maintainer nor a chromium maintainer.

Perhaps you could be inspired by this image but if it is not related to the use of this image, I cannot let this issue as a `bug` but more like an `help wanted` issue.

Please have a look at the tags available with a `node-12` [with this link](https://hub.d

[2021-03-23 20:18] jlandure commented on #158
Hi @drzraf 👋

Thanks for submitting this issue. 👍
Since it is a chromium bug, I cannot help that much with the use of this Docker image.

I've read the workaround. You've seen the example with `socat`. Does it work for you?

[2021-03-23 20:19] jlandure commented on #155
Hi @Joebayld 👋

How are you? Did you find the time to contribute with your working example? 👍
It could be very useful for the community. 😊

Have a good day. ☀️

[2021-03-23 20:20] jlandure commented on #152
Hi @Joebayld @jackHedaya 👋

Does it work now on Apple Silicon? 😊

[2021-03-23 20:22] jlandure commented on #146
Hi @johnykov 👋

No news since one month so I close this issue.
Feel free to add more details if you still encounter the problem. 👍

[2021-03-23 20:22] #146 closed

[2021-03-23 20:57] jlandure commented on #110
Hi @boorwey 👋

Did you succeed with your problem? 👍

[2021-03-23 20:57] jlandure commented on #90
Hi @piotr-sikora-v 👋

Did you succeed with your problem? 👍

[2021-03-23 20:58] #92 closed

[2021-03-23 21:00] jlandure commented on #96
Done ✅   here: https://github.com/Zenika/alpine-chrome#-crafting-the-perfect-container 👍

[2021-03-23 21:00] #96 closed

[2021-03-23 21:37] jlandure commented on #106
Hi @mhanberg 👋

Did you succeed with your problem? 👍

I still got the problem with:

[code]

And on my laptop
[code]

Using [this fix here](https://stackoverflow.com/questions/56937689/alpine-linux-fonts/66593620#66593620), I got a better result.
[code]

[2021-03-23 21:40] jlandure commented on #106
Note: This page could be useful to determine which font the image is missing.
https://wiki.alpinelinux.org/wiki/Fonts

[2021-03-24 04:38] drzraf commented on #158
I wouldn't say it's a chromium bug. It's just a "strange behavior". In order to workaround it, extra tools are needed (ssh/socat), and since remotely-driven (`--remote-debugging`) headed seems a legitimate use-case, I suggest to bundle the necessary tools into the bundle.
I didn't tested the socat workaround myself but it sounds simple and logical and I'm confident it'd work.

[2021-03-24 08:15] jlandure commented on #158
Hi @drzraf 👋

Your workaround with `socat` need to install libraries on the host. I think it is not need in the container but need in the host launching the container. Am I wrong?

Feel free to add a fully example if you succeed. 👍

[2021-03-24 20:21] mhanberg commented on #106
@jlandure I was not, I ended using something different, but I have since switched jobs and don't remember the exact details.

[2021-03-25 01:04] kx1t opened #164 "How to build on arm?"
I'm trying to build the standard container (https://github.com/Zenika/alpine-chrome/blob/master/Dockerfile) on `arm` (Raspberry Pi 3B+ and 4B) to use as a basis for a screenshotting service I'm writing, but I can't get it to build. It complains that `chromium` doesn't exist as part of the `apk add` execution.

Specifically, I'm using `docker buildx` to `armhf` and `arm64` containers.

Is this supp

[2021-03-26 02:44] kx1t commented on #164
I was able to build my own container based on Debian-Slim. Builds and works in armhf/arm64 for headless use of `chromium`, but I can't say that chromium is very stable. About half of the time, the command never returns when requesting a screenshot.
In any case, that's an unrelated issue.
No further need for this issue, I'll close it.

[2021-03-26 02:44] #164 closed

[2021-04-16 15:38] chriscamicas opened #167 "Testing Chrome Extension with Puppeteer and Xvfb (Headful)"
**Context**

Thank you for your work, this image was really helpful.
I want to test a chrome extension, but unfortunately it is not possible in headless mode [according to puppeteer official doc](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#working-with-chrome-extensions).
I can confirm, I tried ;-)

**Alternatives**

Currently, I can run the tests I need with a docker image I've b

[2021-04-16 16:41] chriscamicas commented on #167
you can have a look right there: https://github.com/chriscamicas/alpine-chrome/tree/master/with-puppeteer-xvfb

[2021-04-17 11:00] Kikobeats commented on #106
Hello, I'm trying to debug this, so I created https://font-rendering.vercel.app/

fonts rendered in that website have weights from 100 to 900.

Here a screenshot was taken using the Docker image

![B-2QM8sjgg3tQoPLaDXGcmRVskd-41y_JfV6q1mnuiu8470QALWVB_n60ciulVJE2kv34KZXVO6_-ugb-PFKkA](https://user-images.githubusercontent.com/2096101/115110612-9933c500-9f7c-11eb-9fa2-1eeb64db3993.png)

Note that t

[2021-04-21 02:17] littlee commented on #145
@grapevineai I'm facing the same issue, how did you solve your problem?

[2021-04-21 02:40] littlee opened #169 "Unable to run puppeteer with headless:false"
**Describe the bug**
[code]

**To Reproduce**
Dockerfile
[code]

nodejs code

[code]

**What is the expected behavior?**
chromium start normally

**What is the actual behavior?**
chromium failed to start
**Possible solution**

**Logs**
If applicable, add logs to help explain your problem.

**Versions**

| Software      | Version(s)   | How-to

[2021-04-22 11:35] mihkeleidast opened #171 "Default fonts are broken"
**Describe the bug**
After updating from `zenika/alpine-chrome:80` to a newer version (I've tried both `zenika/alpine-chrome:81` and `zenika/alpine-chrome:89` and both fail, `zenika/alpine-chrome:77` and `zenika/alpine-chrome:80` behave as expected), default fonts are not rendered correctly. E.g. it does not matter if I specify my font-family to be serif/sans-serif, the result is always the same.

[2021-04-22 12:03] mihkeleidast commented on #171
After a bit of trial and error, I found a workaround for this issue. I need to add `freesans` to my CSS font stack before the default `sans-serif` final fallback. But having an extra family just for tests is not ideal.

[2021-04-22 13:10] grapevineai opened #172 "Uncontrollable memory usage"
**Context**

I have a NodeJS app which uses puppeteer to scrape an infinite page. While scrolling, I remove the DOM loaded in order to reduce the memory used by puppeteer. When I run the app with puppeteer on my MacOS, it uses 500MB to 800MB but when I run it on `zenika/alpine-chrome:89-with-node`, it goes up to 2.7GB.

I have the following arguments for the MacOS application:
`'--js-flags=--expos

[2021-04-23 12:32] dloibl commented on #171
I have the same problem. Is there a different solution than fixing it in css as @mihkeleidast suggests?

[2021-05-02 08:28] vladox opened #173 "Several error being reported on run"
**Describe the bug**
running the docker image as follows throw several errors:

`[0502/080543.126186:ERROR:bus.cc(393)] Failed to connect to the bus: Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory.
[0502/080543.178845:ERROR:vaapi_wrapper.cc(573)] Could not get a valid VA display`

**To Reproduce**
Steps to reproduce the behavior:

1. Indicate the version of

[2021-05-10 09:55] jlandure commented on #169
Hi @littlee 👋

Thanks for your issue! 👍
Have you try the example with puppeteer here: https://github.com/Zenika/alpine-chrome/tree/master/with-puppeteer ?

I remind you that this image objective is to get a chromium headless based docker image. (with no display)
FYI, here is an experiment with X11: https://github.com/Zenika/alpine-chrome/tree/master/examples/x11

[2021-05-10 09:57] jlandure commented on #167
Hi @chriscamicas 👋

Very interesting! 👍
I suggest to create a PR if you have the time to do it! 💚
You can submit an example here: https://github.com/Zenika/alpine-chrome/tree/master/examples/

WDYT?

Thanks!

[2021-05-10 09:59] jlandure commented on #155
Hi @Joebayld

No news for your contribution? 😊

[2021-05-10 10:01] jlandure commented on #171
Hi @mihkeleidast @dloibl 👋

Related to #106

We have to check what are the difference between the versions. Perhaps Alpine, Chrome, this repo has changed also the font to embed... We have to investigate!
Thanks for the issue 👍

[2021-05-10 10:03] jlandure commented on #172
Hi @grapevineai 👋

Thanks for the issue 👍

I don't know so much why/how Chrome is using so much memory...
If you had limitations to your pod (to 800MB for example), does it work?

[2021-05-10 10:21] chriscamicas commented on #167
Thanks for your message, the PR is created : #174

[2021-05-10 12:02] grapevineai commented on #172
@jlandure My pod has a memory limit and when it is reached, the pod is evicted. The problem is how can I contain the memory usage of Chrome?

[2021-06-14 16:13] jlandure commented on #172
Hi @grapevineai 👋

Sorry for the delay...
Any news about this issue? Did you succeed? 😊

[2021-06-18 09:19] grapevineai commented on #172
@jlandure Unfortunately no... I tried with different distros but got the same issue. I'd be happy to give a https://issuehunt.io/ bounty for anyone who can solve this problem!

[2021-06-25 18:45] theJohnnyBrown commented on #171
Getting a similar issue here

[2021-07-11 15:07] vityas-off commented on #152
https://github.com/puppeteer/puppeteer/issues/1947#issuecomment-815808274 helped me solve this issue

[2021-07-14 03:05] panw3i opened #179 "Error relocating /usr/lib/libnspr4.so: gettid: symbol not found"
[code]

[2021-07-14 07:53] panw3i opened #180 "[0714/075110.865081:ERROR:headless_shell.cc(184)] Open multiple tabs is only supported when remote debugging is enabled."
[code]

[2021-08-12 21:58] nguyenxndaidev opened #181 "GCP Cloud Build: EACCES: permission denied, mkdir '/workspace/node_modules'"
**Describe the bug**

I have this error on GCP Cloud Build:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `cloudbuild.yaml`

[code]

2. Run the build on GCP Cloud Build, I got error message:

[code]

**Additional context**
Running locally with Docker for Windows on my machine, everything is fine.

[2021-08-24 09:02] gyh9457 commented on #179
meet the same problem

[2021-08-25 02:35] gyh9457 commented on #179
solve the problem by add "apk upgrade"
This may be due to a versioning issue with musl

[2021-08-28 09:22] drpayyne commented on #152
Hi @jlandure, are there any plans to publish a multi-arch image on Docker Hub for `with-puppeteer`?

[2021-09-05 22:43] ssoper commented on #152
I was running into crashes using my new MacBook M1 Air whereas my previous Intel MacBook had no issues.  Ended up building my own version of this with an arm64v8 alpine image and my crash issue was resolved. You can find the image at [avidtraveler/alpine-chrome](https://hub.docker.com/repository/docker/avidtraveler/alpine-chrome).

[2021-09-07 05:59] drpayyne commented on #152
That's great, @ssoper! Could you please publish your customized Dockerfile and its context files if possible?

[2021-09-07 08:13] jlandure commented on #152
Hi @ssoper 👋

Thanks for the update!
And congrats to make it working with M1.

Do you think you can contribute to this image by adding your arm64v8 version? 👍
It could be interesting for @drpayyne and the rest of the community 😊

[2021-09-07 08:16] drpayyne commented on #152
Hi @jlandure, what's the image build process that you use? I'd love to contribute to making this repo multi-arch as well :)

[2021-09-07 08:31] jlandure commented on #152
Hi @drpayyne

Thanks for your motivation 💪

Very simple: the build process is done using [Docker Hub AutoBuild](https://docs.docker.com/docker-hub/builds/).

💬 If you're interested, please create a PR and we will discuss about making the repo multi-arch!

[2021-09-07 12:22] ssoper commented on #152
@drpayyne @jlandure the only difference is the very first line `FROM arm64v8/alpine:latest`, everything else in the Dockerfile is identical.

[2021-09-07 14:14] drpayyne commented on #152
Is there a reason we need to use that specific image? `alpine:latest` already provides multi-arch images at https://hub.docker.com/_/alpine?tab=tags&page=1&ordering=last_updated&name=latest.

I've been working on rebuilding existing images for both architectures so all that we need to do is rebuild our images for both platforms. We have to maybe customize the images a little, but I'll need to look

[2021-09-07 14:40] ssoper commented on #152
@drpayyne when I specified the platform in the docker command to retrieve and run the image, it claimed there was no such platform.

[code]

[2021-09-07 14:46] drpayyne commented on #152
Yes, you're right. _This_ repository's images (`zenika/*`) do not provide ARM builds. But the source image you had mentioned that you modified isn't required is what I mean.

So we can continue using `alpine:latest` as the source image and we have to build the same Dockerfile for multiple platforms. I use this command to build the Dockerfile for multiple platforms - `docker buildx build --platform

[2021-09-07 15:03] drpayyne commented on #152
@ssoper - I've just rebuilt the base image of this repository for both architecture at https://github.com/drpayyne/chrome/pkgs/container/chrome. All users can pull this tag and it'll download the appropriate architecture.

[2021-09-07 15:09] drpayyne commented on #152
I'm not sure as to what exactly is causing the crash reported here, but you could test it out by running `docker run -it --rm ghcr.io/drpayyne/chrome bash`. Any feedback is appreciated! I'm currently building the rest of the images like Node and Puppeteer, so I'll test them all together.

[2021-09-07 15:12] ssoper commented on #152
the crashes I was seeing locally were related to being unable to parse `/proc/self/maps` along with a host of GPU errors.

[2021-09-07 15:17] drpayyne commented on #152
Any specific commands that I need to test? @ssoper

[2021-09-07 15:18] drpayyne commented on #152
I'm publishing the multi-arch packages at https://github.com/drpayyne?tab=packages&repo_name=chrome. Please test anything you can

[2021-09-07 15:27] ssoper commented on #152
@drpayyne ran your image against my complex series of browser interactions (primarily with the E*TRADE website) and it worked perfect 💯

[2021-09-07 15:39] drpayyne commented on #152
That's awesome! Let me check if all the Dockerfiles in this repo _build_, and then I'll create a PR

cc/ @jlandure

[2021-09-07 16:39] drpayyne commented on #152
@ssoper, I'm getting the below error if I run the base chrome image. Any idea what's causing this in my machine since it seems to work for you? I'm seeing a few answers online, but not sure which is the best approach to fix this.

[code]

[2021-09-07 16:47] ssoper commented on #152
might come down to what arguments you are launching with, here is my run command

[code]

[2021-09-07 17:22] drpayyne commented on #152
Ah! Thank you. Just found https://github.com/Zenika/alpine-chrome/issues/33 too. My bad, apologies. My multi-arch image builds work good in that case.

[2021-09-07 17:29] ssoper commented on #152
great to hear @drpayyne! @jlandure what work remains so that we can pull `zenika/alpine-chrome` with a `--platform linux/arm64/v8` switch to get the image we need?

[2021-09-07 17:51] drpayyne commented on #152
Discussion PR opened at https://github.com/Zenika/alpine-chrome/pull/182.

[2021-09-14 06:03] wszydlak opened #183 "Node 16 Support?"
**Context**

Can this image be published with NodeJS 16 support (together with npm@7)?

**Has the feature been requested before?**

No

[2021-09-27 14:07] alexbepple opened #184 "Latest version is 89, Chrome is 94 – will there be an update?"
Hello, @jlandure.

Let me use this opportunity to say a big thank you for zenika/alpine-chrome. Without it, my life would be a lot harder.

I am curious whether there are any updates on the books for alpine-chrome? I know that alpine-chrome has gone this long without new releases before. Just wondering …

Thank you!

[2021-09-30 14:33] sthuber90 commented on #40
Would a GitHub Wiki or GitHub Pages be enough?

[2021-10-01 19:43] kalliub commented on #184
Good point! I'm waiting for the same update!

[2021-10-20 05:29] renovate[bot] opened #186 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency ws to 7.4.6 [SECURITY]](../pull/177)
 - [ ] [Pin dependency playwright-chromium to v1.7.1](../pull/163)
 - [ ] [Update depe

[2021-11-01 01:35] clearcodecn commented on #109
@hardy4yooz can you please share what project are you using?
I face the issue too and no way to solve this.

[2021-11-05 11:46] gidztech commented on #183
The latest version of Alpine (3.14) only contains Node 14 in the official repository: https://pkgs.alpinelinux.org/packages?name=nodejs&branch=v3.14. This is presumably because Node 16 only very recently made it to LTS.

**Option 1:** Wait for the repository to be updated with the updated LTS, which is Node 16 (hopefully soon), and then I think we just need to re-push a new image of what have on m

[2021-11-22 08:44] jlandure opened #187 "Test with docker-slim"
**Context**

Test this image with https://github.com/docker-slim/docker-slim

[2021-12-02 15:02] kurtisane opened #188 "Websocket connection"
Hi,
I was not able to find anything regarding websockets in this repo here.

Currently I'm using Browserless as my headless chrome in docker.
I'm not really happy about the size and therefore I was looking around and stumbeld across this.

Is there a way to use this container and let my puppeteer client (which is in another container) access the headless chrome with websocket ?

Regards!

[2021-12-13 15:45] theheuman commented on #183
A new version of alpine (3.15) with node 16 is now available https://pkgs.alpinelinux.org/packages?name=nodejs&branch=v3.15

[2021-12-23 16:14] matti opened #190 "crashes right away"
[code]

[2021-12-23 16:15] matti commented on #190
also:
[code]

[2021-12-23 16:18] matti commented on #190
and also

[code]

I have a feeling that this has something to do with latest docker:
[code]

[2022-01-19 17:31] pplotka commented on #190
Hi! I have the same problem.

[2022-01-25 18:11] anirudh-mehta commented on #190
For headless mode (default), you should pass the command or attach debugger.

[code]

or

[code]

[2022-01-27 12:54] austincollinpena commented on #112
Yep, same issue here, @crab21 come save me!

[2022-01-28 12:44] saarang1995 commented on #109
@jlandure
Hi, I am facing this issue as well. Is there any update/solution to this.
Thank you!

[2022-01-28 15:38] hendrawan98 opened #191 "unable to launch browser ENOENT"
**Describe the bug**
im using `zenika/alpine-chrome:with-node` and running the docker file on railway.app the error what i get is
[code]

and my Dockerfile is
[code]

my index.js
[code]

[2022-02-04 12:35] ilyesAj commented on #109
Hello, is it possible to provide a clear solution for this ? i m facing the same issue

[2022-02-16 16:40] mewforest commented on #191
I have the same problem :(

[2022-03-04 12:56] Tam2 commented on #183
Any updates on an image being pushed with node 16?

[2022-03-09 14:54] suntong commented on #190
Thanks @anirudh-mehta, that works, and this can be closed now IMHO.

[2022-04-04 11:27] #167 closed

[2022-04-05 14:19] #184 closed

[2022-04-05 14:20] hgwood commented on #190
See the readme for instructions on this.

[2022-04-05 14:20] #190 closed

[2022-04-05 14:22] hgwood commented on #183
The latest image is available with node 16.

[2022-04-20 21:33] jcestibariz opened #196 "Publish 100-with-chromedriver tag"
Hi, I'm able to pull `zenika/alpine-chrome:with-chromedriver` but trying to pull `zenika/alpine-chrome:100-with-chromedriver` produces this error:

[code]

[2022-04-21 00:04] jcestibariz opened #197 "Error connecting to zenika/alpine-chrome:with-chromedriver"
**Describe the bug**

Creating a new session produces the error: `Host header or origin header is specified and is not whitelisted or localhost.`

**To Reproduce**
Steps to reproduce the behavior:

1. Image version: zenika/alpine-chrome@sha256:020cb24474d489d08e0e63cfeaef54e0cad3e95f4035c9a32dc88307fa3d311e
2. `docker network create test`
3. `docker run -it --name driver --net test --shm-size=1g -

[2022-04-22 03:48] yanqzsu commented on #145
Change user works for me
`USER root`

[2022-04-27 06:36] mangalamg commented on #109
Is there any solution here? I'm still facing this issue

[2022-05-30 18:14] efournival opened #203 "WebGL is not working"
**Describe the bug**
WebGL is not working out of the box.

**To Reproduce**
Steps to reproduce the behavior:

`docker run -p 9222:9222 zenika/alpine-chrome --no-sandbox --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222`

Output:
[code]

**What is the expected behavior?**
No error, able to render a WebGL canvas.

**What is the actual behavior?**
Errors, cannot render a WebGL canvas.

[2022-06-07 08:36] #152 closed

[2022-06-07 13:45] mjaggard opened #204 "100-with-puppetter works fine but with-puppetter fails"
**Describe the bug**
I get these errors when attempting to start Chrome

Error relocating /usr/lib/libre2.so.9: _ZNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEE7reserveEv: symbol not found
Error relocating /usr/lib/libre2.so.9: _ZSt28__throw_bad_array_new_lengthv: symbol not found
Error relocating /usr/lib/libsnappy.so.1: _ZSt28__throw_bad_array_new_lengthv: symbol not found
Error relocating

[2022-06-08 12:36] eni23 opened #205 "alpine-chrome:with-node has non-working chrome"
**Describe the bug**

The latest version of `zenika/alpine-chrome:with-node` (Digest: `sha256:33b4072d8e7e5c95fc48d0a3d66cd3bbf965e5e98ab0d89dc981894d39ba80c8`) ships a broken chrome version

**To Reproduce**
Steps to reproduce the behavior:

[code]
returns:
[code]

**What is the expected behavior?**
As with the previous version:
[code]
it should return something like this:
[code]

**Possible solu

[2022-06-09 09:09] dgsb commented on #16
it's quite an old issue, but it's even more relevant with the new arm based apple laptop line.

[2022-06-14 12:14] zigarn commented on #205
Fixed by c3f32c2b102c1ee2efd46fa4833491d7e956afaa

[2022-06-14 12:14] #205 closed

[2022-06-14 12:15] zigarn commented on #204
Fixed by c3f32c2b102c1ee2efd46fa4833491d7e956afaa

[2022-06-14 12:15] #204 closed, assigned to nobody

[2022-06-14 12:23] zigarn commented on #196
Sadly, with the DockerHub autobuild all flavors were built at the same time and depending on `latest` parent image that was often not yet at latest version.
So there is no `100-with-chromedriver` and it's not possible to build it afterwards as this version of chromium is not available in alpine repo.
You can use `99-with-chromedriver` or `102-with-chromedriver`.

With new build with GitHub Actions

[2022-06-14 13:06] zigarn commented on #191
Your puppeteer installs brings its own chrome which doesn't work in your case.
Better is to use directly `zenika/alpine-chrome:with-puppeteer` to have puppeteer correctly setup.
(Or you have to set the env var `PUPPETEER_EXECUTABLE_PATH` to point to `/usr/bin/chromium-browser` : https://github.com/Zenika/alpine-chrome/blob/c3f32c2b102c1ee2efd46fa4833491d7e956afaa/with-puppeteer/Dockerfile#L4)

[2022-06-14 13:55] zigarn commented on #16
Solved by #201

[2022-06-14 13:55] #16 closed

[2022-06-14 14:52] jcestibariz commented on #196
I was able to pull `102-with-chromedriver` (which wasn't available when I filed this issue). Thank you.

[2022-06-14 14:52] #196 closed

[2022-07-10 19:59] anilbhanushali commented on #191
two things,
1. instead of puppeteer use puppeteer-core
2. use the executable available in base image
[code]

[2022-07-20 10:42] emtunc opened #211 "Upgrade to Alpine 3.16.1"
Hey team!
3.16.1 resolves a number of "critical" CVEs - would it be possible to upgrade from 3.16 --> 3.16.1?

[2022-07-20 10:44] emtunc commented on #211
ah I just realised we're already pulling the latest by using the 3.16 tag

[2022-07-20 10:44] #211 closed

[2022-07-21 04:39] IAseven opened #212 "Arm64 cpu startup card is stuck, Unable to use"
**Describe the bug**
A clear and concise description of what the bug is.
Be careful, Chrome can output some `Warning` without affecting the behavior of this image like this one
`[0709/182256.661108:WARNING:dns_config_service_posix.cc(335)] Failed to read DnsConfig.`

**To Reproduce**
Steps to reproduce the behavior:

1. Indicate the version of the image using `docker image inspect --format='{{inde

[2022-07-27 03:40] zsinba commented on #90
I've been able to do this successfully, and the results are good. Parameters like this to push:

`if [ -z  "$FFMPEG_CMD" ]; then
	FFMPEG_CMD="ffmpeg \
	 -f pulse -i default  \
	 -f x11grab -video_size ${SCREEN_WIDTH}x${SCREEN_HEIGHT} \
	 -draw_mouse ${DRAW_MOUSE} \
	 -i $DISPLAY -async ${ASYNC} -vsync ${VSYNC} -framerate ${FRAMERATE}  -vcodec ${VCODEPARAM}  -preset ${PRESETPARAM} -profile:v ${PROF

[2022-08-17 09:06] fedulovivan opened #213 "Please add tzdata"
Hello! Would be nice to have package tzdata builtin, to avoid building extra image based on current one.

Use case is renderring web app  UI for certain timezone.

Althought there is a working workaround with puppeteer:
[code]

[2022-08-24 01:31] mwalsher commented on #212
I'm seeing the same issue when attempting to run the following on an M1 Mac:

[code]

Am I missing something?

[2022-09-04 07:26] ichux commented on #161
I made this comment regarding this

[2022-09-11 20:16] Enissay commented on #110
I have this use case as well. Too bad no feedback about it :<

[2022-10-01 06:39] RahulSurwade08 commented on #187
Hey @jlandure , I would love to contribute to this issue under Hacktoberfest. How can I get started?

[2022-11-09 07:19] Techn1x opened #214 "Node 18 now LTS"
**Context**

Can new docker images be added to dockerhub for Node 18? And perhaps a chromium update too?
Node 16 has entered maintenance mode, and Node 18 is now in LTS https://github.com/nodejs/release#release-schedule

Looking to use this tag `106-with-node-18`

https://hub.docker.com/r/zenika/alpine-chrome

~I'm guessing this might need to wait for alpine 3.17 release? alpine 3.16 uses node 16